@import url("https://use.fontawesome.com/releases/v5.13.1/css/all.css");
@import url("https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
@media only screen and (max-width: 499px) {
  #alternate-nav-header {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 20vw;
    left: 0px;
    z-index: 99;
    width: 100vw;
    height: 90vh;
    background-color: #2E443E;
  }
  #alternate-nav-header #gaia-logo-mobile {
    width: 35vw;
  }
  #alternate-nav-header #main-nav ul {
    display: grid;
    width: 100%;
    height: 50vh;
    grid-template-columns: 1fr;
    justify-self: center;
    align-self: center;
    justify-items: center;
    list-style-type: none;
    padding: 0;
    margin-top: 20vw;
    visibility: visible;
  }
  #alternate-nav-header #main-nav ul .non-drop a {
    color: white;
    justify-self: center;
    align-self: center;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 20px;
    transition: 0.4s all ease;
  }
  #alternate-nav-header #main-nav ul .non-drop a:hover {
    color: #B4DE4A;
    font-size: 21px;
    border-bottom: 3px solid #B4DE4A;
    font-weight: 600;
  }
  #alternate-nav-header #main-nav ul #dropdown {
    display: grid;
    grid-template-columns: 1fr;
  }
  #alternate-nav-header #main-nav ul #dropdown #dropdown-btn {
    color: white;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 20px;
    transition: 0.4s all ease;
  }
  #alternate-nav-header #main-nav ul #dropdown #dropdown-content {
    display: none;
  }
  #carousel {
    display: none;
  }
  #carousel #whitetitle {
    display: none;
  }
  #carousel #greentitle {
    display: none;
  }
  #carousel #carousel-arrows {
    display: none;
  }
  #carousel #carousel-arrows #leftdiv {
    display: none;
  }
  #carousel #carousel-arrows #leftdiv #leftarrow {
    display: none;
  }
  #carousel #carousel-arrows #rightdiv {
    display: none;
  }
  #carousel #carousel-arrows #rightdiv #rightarrow {
    display: none;
  }
  #carousel #carousel-image-container {
    display: none;
  }
  #carousel #carousel-image-container #img-window {
    display: none;
  }
  #carousel #carousel-image-container #img-window #img1 {
    display: none;
  }
  #carousel #carousel-image-container #img-window #img2 {
    display: none;
  }
  #carousel #carousel-image-container #img-window #img3 {
    display: none;
  }
  #carousel #carousel-description {
    display: none;
  }
  #carousel #carousel-description h3 {
    display: none;
  }
  #carousel #carousel-description p {
    display: none;
  }
  .gallery-title {
    background-color: #FFFFFF;
    z-index: 99;
    padding-top: 10vh;
  }
  .gallery-title h2 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    font-size: 42px;
    text-align: center;
    font-variant: all-small-caps;
    color: #2C2C2C;
    color: #2C2C2C;
    height: 12vh;
    padding-top: 3vh;
    z-index: 98;
    margin: 0;
    transition: 1s all ease;
  }
  .image-gallery {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    background-color: white;
    padding-top: 3vh;
    padding-bottom: 3vw;
    padding-left: 3vw;
    padding-right: 3vw;
  }
  .project-image-gallery {
    display: none;
    grid-template-columns: 1fr 1fr 1fr;
    height: 60vh;
    gap: 1vw;
    background-color: white;
    padding-top: 3vh;
    padding-bottom: 3vw;
    padding-left: 3vw;
    padding-right: 3vw;
  }
  .project-image-gallery .project {
    width: 100%;
  }
  .project-image-gallery .project img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .project-image-gallery .project .project-overlay {
    position: relative;
    width: 100%;
    height: 100%;
    background: rgba(57, 57, 57, 0.502);
    border-radius: 0;
    top: -101%;
    left: 0;
    opacity: 0;
    transition: 0.4s all ease;
    color: #fff;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 0.9vw;
    line-height: 1.7vw;
    color: #FFFFFF;
    z-index: 99;
    /* center overlay content */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  /* hover */
  .project:hover .project-overlay {
    opacity: 1;
  }
  .image-gallery .column {
    display: flex;
    flex-direction: column;
    gap: 1vw;
  }
  .image-item img {
    width: 100%;
    border-radius: 0px;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  }
  .design-image-item img {
    width: 100%;
    border-radius: 0px;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  }
  /* overlay styles */
  .image-item {
    position: relative;
  }
  .design-image-item {
    position: relative;
  }
  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(57, 57, 57, 0.502);
    border-radius: 0;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.4s all ease;
    color: #fff;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 0.9vw;
    line-height: 1.7vw;
    color: #FFFFFF;
    /* center overlay content */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* hover */
  .image-item:hover .overlay {
    opacity: 1;
  }
}
@media only screen and (min-width: 500px) {
  .overlay-carousel-container {
    display: grid;
    opacity: 0;
    visibility: hidden;
    grid-template-columns: 1fr;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    position: fixed;
    z-index: 99;
    transition: 0.8s all ease;
  }
  .overlay-carousel-container .overlay-carousel {
    display: grid;
    grid-template-columns: 1fr;
    justify-self: center;
    align-self: center;
    width: 90vw;
    height: 90vh;
    z-index: 99;
    background-color: #2C2C2C;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  }
  .overlay-carousel-container .overlay-carousel .x {
    position: absolute;
    z-index: 99;
    display: block;
    top: 10vh;
    right: 10vw;
    width: 2vw;
    height: 2vw;
    opacity: 1;
    transition: 0.4s all ease;
  }
  .overlay-carousel-container .overlay-carousel .x:hover {
    cursor: pointer;
    opacity: 0.6;
  }
  .overlay-carousel-container .overlay-carousel .overlay-carousel-picture {
    width: 90%;
    height: 90%;
    padding: 30px;
    align-self: center;
    justify-self: center;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .dark-overlay {
    width: 100vw;
    height: 100vh;
    background-color: rgb(68, 98, 88);
    opacity: 0%;
    visibility: hidden;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 98;
    transition: 0.4s all ease;
  }
  .overlay-project-container {
    display: grid;
    opacity: 0;
    visibility: hidden;
    grid-template-columns: 1fr;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    position: fixed;
    z-index: 99;
    transition: 0.8s all ease;
  }
  .overlay-project-container .overlay-project {
    display: grid;
    grid-template-columns: 1fr;
    justify-self: center;
    align-self: center;
    width: 90vw;
    height: 98vh;
    z-index: 99;
    background-color: white;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  }
  .overlay-project-container .overlay-project .projectx {
    position: absolute;
    z-index: 99;
    display: block;
    top: 10vh;
    right: 10vw;
    width: 2vw;
    height: 2vw;
    opacity: 1;
    transition: 0.4s all ease;
  }
  .overlay-project-container .overlay-project .projectx:hover {
    cursor: pointer;
    opacity: 0.6;
  }
  .overlay-project-container .overlay-project .project-content {
    width: 50%;
    height: 90%;
    padding: 30px;
    align-self: center;
    justify-self: center;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .overlay-project-container .overlay-project .project-content h2 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    font-size: 3vw;
    text-align: center;
    font-variant: all-small-caps;
    color: #2C2C2C;
    color: #2C2C2C;
    height: 12vh;
    padding-top: 3vh;
    z-index: 98;
    margin: 0;
  }
  #alternate-nav-header {
    display: grid;
    position: absolute;
    top: 6vh;
    z-index: 99;
    width: 100vw;
  }
  #alternate-nav-header #alternate-nav ul {
    display: grid;
    width: 50%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-self: center;
    justify-items: center;
    list-style-type: none;
    padding: 0;
    background-color: none;
  }
  #alternate-nav-header #alternate-nav ul .non-drop a {
    color: white;
    justify-self: center;
    align-self: center;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9vw;
    transition: 0.4s all ease;
  }
  #alternate-nav-header #alternate-nav ul .non-drop a:hover {
    color: #B4DE4A;
    font-size: 0.95vw;
    border-bottom: 3px solid #B4DE4A;
    font-weight: 600;
  }
  #alternate-nav-header #alternate-nav ul #dropdown {
    display: grid;
    grid-template-columns: 1fr;
  }
  #alternate-nav-header #alternate-nav ul #dropdown #dropdown-btn {
    color: white;
    justify-self: center;
    align-self: center;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9vw;
    transition: 0.4s all ease;
  }
  #alternate-nav-header #alternate-nav ul #dropdown #dropdown-btn:hover {
    color: #B4DE4A;
    font-size: 0.95vw;
    font-weight: 500;
  }
  #alternate-nav-header #alternate-nav ul #dropdown #dropdown-content {
    display: grid;
    height: 0px;
    width: 100%;
    opacity: 0;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    align-items: center;
    background-color: #1C312A;
    padding: 0px;
    transition: 0.4s all ease;
  }
  #alternate-nav-header #alternate-nav ul #dropdown #dropdown-content a {
    transition: 0.4s all ease;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: small;
    padding: 10px;
    text-align: center;
    color: white;
    opacity: 0;
  }
  #alternate-nav-header #alternate-nav ul #dropdown:hover #dropdown-content {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    height: 10vw;
    width: 100%;
    opacity: 100%;
  }
  #alternate-nav-header #alternate-nav ul #dropdown:hover #dropdown-content a {
    opacity: 1;
  }
  #alternate-nav-header #alternate-nav ul #dropdown:hover #dropdown-content a:hover {
    color: #B4DE4A;
  }
  .content-container {
    position: relative;
    background-color: #D0D7CF;
    width: 100%;
    padding-top: 12vh;
    display: grid;
    align-self: center;
    justify-self: center;
    grid-template-columns: 1fr;
    z-index: 1;
  }
  .content-container .content-grid {
    display: grid;
    background-color: #FFF;
    width: 60%;
    grid-template-columns: 1fr;
    align-self: center;
    justify-self: center;
    margin-top: 10vh;
    margin-bottom: 30vh;
    /* hover */
    /* overlay styles */
    /* hover */
  }
  .content-container .content-grid .content-item {
    width: 100%;
    z-index: 99;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  }
  .content-container .content-grid #treeline {
    width: 100vw;
    position: absolute;
    bottom: -5vw;
    left: 0px;
    z-index: 1;
  }
  .content-container .content-grid .project-info #project-name {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    font-size: 3vw;
    text-align: center;
    font-variant: all-small-caps;
    color: #2C2C2C;
    z-index: 98;
    margin: 0;
  }
  .content-container .content-grid .project-info #project-text1 {
    color: rgb(68, 98, 88);
    font-family: "Roboto";
    font-weight: 600;
    font-size: 1.2vw;
    line-height: 140%;
    text-align: left;
    margin: 0;
    padding-top: 2vw;
    font-variant: all-small-caps;
  }
  .content-container .content-grid .project-info #project-text2 {
    color: #2C2C2C;
    font-family: "Roboto";
    font-weight: 300;
    font-size: 1vw;
    line-height: 140%;
    text-align: left;
    width: 80%;
    word-wrap: break-word;
    margin: 0;
    padding-top: 2vw;
  }
  .content-container .content-grid #back-to-gallery-btn a {
    text-decoration: none;
  }
  .content-container .content-grid #carousel {
    display: flex;
    flex-direction: column;
    background-color: #2C2C2C;
    justify-self: center;
    align-self: center;
    z-index: 99;
    width: 100%;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  }
  .content-container .content-grid #carousel #whitetitle {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    font-size: 3vw;
    text-align: center;
    font-variant: all-small-caps;
    color: white;
    background-color: #2C2C2C;
    height: 12vh;
    padding-top: 3vh;
    z-index: 98;
    margin: 0;
    transition: 1s all ease;
  }
  .content-container .content-grid #carousel #greentitle {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    font-size: 3vw;
    text-align: center;
    font-variant: all-small-caps;
    color: #B4DE4A;
    background-color: #2C2C2C;
    height: 12vh;
    padding-top: 3vh;
    z-index: 98;
    margin: 0;
    transition: 1s all ease;
  }
  .content-container .content-grid #carousel #carousel-arrows {
    height: 50vh;
    width: 100%;
    z-index: 95;
    display: flex;
    flex-direction: row;
  }
  .content-container .content-grid #carousel #carousel-arrows #leftdiv {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.8) 30%, rgba(0, 0, 0, 0));
    height: 50vh;
    width: 10vh;
    left: 0px;
    z-index: 98;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .content-container .content-grid #carousel #carousel-arrows #leftdiv #leftarrow {
    height: 5vw;
    cursor: pointer;
    transition: 0.2s all ease;
    visibility: hidden;
  }
  .content-container .content-grid #carousel #carousel-arrows #rightdiv {
    background: linear-gradient(-90deg, rgba(0, 0, 0, 0.8) 30%, rgba(0, 0, 0, 0.459) 80%, rgba(0, 0, 0, 0));
    height: 50vh;
    width: 10vh;
    margin: 0;
    position: absolute;
    right: 20vw;
    z-index: 98;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .content-container .content-grid #carousel #carousel-arrows #rightdiv #rightarrow {
    height: 5vw;
    cursor: pointer;
    transition: 0.2s all ease;
    visibility: visible;
  }
  .content-container .content-grid #carousel #carousel-image-container {
    width: 50vw;
    height: 50vw;
    background-color: transparent;
    overflow: hidden;
    z-index: 1;
    position: absolute;
    left: 25vw;
    top: 34vh;
    display: block;
  }
  .content-container .content-grid #carousel #carousel-image-container #img-window {
    height: 50vh;
    width: -moz-max-content;
    width: max-content;
  }
  .content-container .content-grid #carousel #carousel-image-container #img-window #img1 {
    background-image: url("https://res.cloudinary.com/dr3r301ht/image/upload/v1742166706/Carousel_Image_1_ouaoik.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 60vw;
    height: 50vh;
    position: absolute;
    left: 0;
    top: 0;
    transition: 2s all ease;
  }
  .content-container .content-grid #carousel #carousel-image-container #img-window #img2 {
    background-image: url("https://res.cloudinary.com/dr3r301ht/image/upload/v1742166706/Carousel_Image_2_ykkm4j.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 60vw;
    height: 50vh;
    position: absolute;
    left: 70vw;
    top: 0;
    transition: 2s all ease;
  }
  .content-container .content-grid #carousel #carousel-image-container #img-window #img3 {
    background-image: url("https://res.cloudinary.com/dr3r301ht/image/upload/v1742173333/9FCF9C78-9E2E-4706-A4BD-C2433E677B69_c6k03v.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 60vw;
    height: 50vh;
    position: absolute;
    left: 140vw;
    top: 0;
    transition: 2s all ease;
  }
  .content-container .content-grid #carousel #carousel-description {
    display: flex;
    height: 30%;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 5vw;
  }
  .content-container .content-grid #carousel #carousel-description h3 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 600;
    font-size: 1.2vw;
    line-height: 2vw;
    margin: 0;
    font-variant: all-small-caps;
    color: #B4DE4A;
  }
  .content-container .content-grid #carousel #carousel-description p {
    font-family: "Roboto";
    font-weight: 200;
    font-size: 0.9vw;
    line-height: 1.7vw;
    color: #FFFFFF;
  }
  .content-container .content-grid .gallery-title {
    background-color: #FFFFFF;
    z-index: 99;
    padding-top: 10vh;
  }
  .content-container .content-grid .gallery-title h2 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    font-size: 3vw;
    text-align: center;
    font-variant: all-small-caps;
    color: #2C2C2C;
    color: #2C2C2C;
    height: 12vh;
    padding-top: 3vh;
    z-index: 98;
    margin: 0;
    transition: 1s all ease;
  }
  .content-container .content-grid .image-gallery {
    display: flex;
    flex-direction: row;
    gap: 1vw;
    background-color: white;
    padding-top: 3vh;
    padding-bottom: 3vw;
    padding-left: 1vw;
    padding-right: 1vw;
  }
  .content-container .content-grid .project-image-gallery {
    display: none;
    grid-template-columns: 1fr 1fr 1fr;
    height: 60vh;
    gap: 1vw;
    background-color: white;
    padding-top: 3vh;
    padding-bottom: 3vw;
    padding-left: 1vw;
    padding-right: 1vw;
  }
  .content-container .content-grid .project-image-gallery .project {
    width: 100%;
  }
  .content-container .content-grid .project-image-gallery .project img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .content-container .content-grid .project-image-gallery .project .project-overlay {
    position: relative;
    width: 100%;
    height: 100%;
    background: rgba(57, 57, 57, 0.502);
    border-radius: 0;
    top: -101%;
    left: 0;
    opacity: 0;
    transition: 0.4s all ease;
    color: #fff;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 0.9vw;
    line-height: 1.7vw;
    color: #FFFFFF;
    z-index: 99;
    /* center overlay content */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .content-container .content-grid .project:hover .project-overlay {
    opacity: 1;
  }
  .content-container .content-grid .image-gallery .column {
    display: flex;
    flex-direction: column;
    gap: 1vw;
  }
  .content-container .content-grid .image-item img {
    width: 100%;
    border-radius: 0px;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  }
  .content-container .content-grid .design-image-item img {
    width: 100%;
    border-radius: 0px;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  }
  .content-container .content-grid .image-item {
    position: relative;
    cursor: pointer;
  }
  .content-container .content-grid .design-image-item {
    position: relative;
  }
  .content-container .content-grid .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(57, 57, 57, 0.502);
    border-radius: 0;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.4s all ease;
    color: #fff;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 0.9vw;
    line-height: 1.7vw;
    color: #FFFFFF;
    /* center overlay content */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .content-container .content-grid .image-item:hover .overlay {
    opacity: 1;
  }
}/*# sourceMappingURL=gallery.css.map */