@import url("https://use.fontawesome.com/releases/v5.13.1/css/all.css");
@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');


//////////Global Styles//////////
*{
    box-sizing: border-box;
}

body{width: 100vw; overflow-x: hidden; overflow-y: scroll; margin:0px;}

html.sr .load-hidden {
    visibility: hidden;
}

html{
    scroll-behavior: smooth;
}
.main-padding{
    margin:0;
    text-align: center;
}
//Colors//
$GaiaLightGreen: #B4DE4A;
$GaiaDarkGreen:  rgb(68, 98, 88);
$GaiaGrey: #2C2C2C;

//Buttons//
.arrow-button-anchor{
    text-decoration: none;
    width: 16vw;
    .green-arrow-button{
        display:grid;
        grid-template-columns: 1fr 1fr;
        background-color: $GaiaLightGreen;
        width: 16vw;
        height: 1.8vw;
        border-radius: 44.9876px;
        justify-items: center;
        align-items: center;
        margin:0;
        transition:0.4s all ease;
        p{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 1.2vw;
            font-variant: small-caps;
            margin: 0 0 0 1vw;
            color:#171C09;
            letter-spacing: 0.1em;
            transition:0.4s all ease;
        }
        .arrow{
            width:5vw;
            transition:0.4s all ease;
            transform: translateX(-1.8em);
        }
    }
    .green-arrow-button:hover{
        box-shadow: 0 0.1em 0.5em 0.1em $GaiaDarkGreen;
        background-color:  #bff82e;
        .arrow{
            transform: translateX(0.1em);
        }
        p{
            letter-spacing:0.18em;
        }
    }
}


/////////////////Page Styles///////////////
@import "gallery"; 
@import "services";
@import "wip";
@import "about";

//////////Mobile Version/////////
@media only screen and (max-width: 499px){

    .hide-xs{display:none; visibility: hidden;}
    
    //Load Bar//
    .loader{
        position:fixed;
        left:0;
        top:0;
        width:100vw;
        height:100vh;
        display:flex;
        align-items:center;
        justify-content:center;
        background: $GaiaGrey;
        z-index: 200;
        transition: opacity 0.75s, visibility 0.75s;
    }
    .loader--hidden{
        opacity: 0;
        visibility: hidden;
    }
    
    .loader::after{
        content: "";
        width:8vh;
        height: 8vh;
        border:1vw solid $GaiaDarkGreen;
        border-top-color: $GaiaLightGreen;
        border-radius: 50%;
        animation: loading 0.75s ease infinite; 
    }
    
    @keyframes loading {
        from { transform: rotate(0turn) }
        to { transform: rotate(1turn) }
    }
    
    .main-body{
        display:grid;
        width: 100vw;
        align-content: center;
        background-color: transparent;
        height: fit-content;
        overflow-x: clip;
        overflow-y:clip;
    
        .top-bar{ 
            display: flex;
            position:absolute;
            left:0px;
            top:0px;
            z-index:99;
            flex-direction: column;
            background-color: #2E443E;
            width:100vw;
            height:20vw;
            justify-content: center;
            margin-bottom: 20vw;
            #hamburger{
                align-self: center;
            }
        }

        #main-nav-header{
            display:flex;
            flex-direction: column;
            position: absolute;
            justify-content: center;
            align-items: center;
            top:20vw;
            left:0px;
            z-index: 99;
            width: 100vw;
            height: 90vh;
            background-color: #2E443E;
            
            #main-nav ul{
                display: grid;
                width:100%;
                height:50vh;
                grid-template-columns: 1fr;
                justify-self: center;
                align-self: center;
                justify-items: center;
                list-style-type: none;
                padding:0;
                margin-top: 20vw;
                visibility: visible;
                
                .non-drop{
                    a{
                    color: white;
                    justify-self: center;
                    align-self: center; 
                    text-decoration: none;
                    font-family:'Roboto', sans-serif;
                    text-transform:uppercase;
                    font-weight: 400;
                    font-size: 20px;
                    transition: 0.4s all ease;
                    }
                    a:hover{
                        color:#B4DE4A;
                        font-size: 21px;
                        border-bottom:3px solid $GaiaLightGreen;
                        font-weight: 600;
                    }
                }
                #dropdown{
                    display:grid;
                    grid-template-columns: 1fr;
                    #dropdown-btn{
                        color: white;
                        text-decoration: none;
                        font-family:'Roboto', sans-serif;
                        text-transform:uppercase;
                        font-weight: 400;
                        font-size: 20px;
                        transition:0.4s all ease;
                        }
                    #dropdown-content{
                        display:none;
                    }
                }
            }
        }

        #mobile-background{
            position:absolute;
            display: grid;
            grid-template-columns: 1fr;
            left:0px;
            top:0vw;
            width:100vw;
            height: 100vh;
            background-color: #D0D7CF;
            overflow-y: auto;
            overflow-x:hidden;
            perspective: 10px;
            #treescontainer{
                display: flex;
                align-items: center;
                justify-content: center;
                transform-style: preserve-3d;
                z-index:-1;
                
            }
            #mobile-logo{
                align-self:center;
                justify-self: center;
                z-index:-2;
            }
            #mobile-splash{
            position: absolute;
            top: 100vh;
            z-index:-2;
            width:100%;
            display:flex;
            justify-content: center;
            
                h3{
                    font-family: 'Roboto', sans-serif;
                    font-weight: 300;
                    line-height: 120%;
                    font-size: 4.5vw;
                    letter-spacing: 0.05em;
                    text-transform: uppercase;
                    color:white;
                    text-align: center;
                    z-index:99;
                    padding-top: 1vh;
                    width:80%;
                }
            }

            #treesforeground{
                position: absolute;
                display:flex;
                flex-direction:column;
                top:0;
                left:0;
                height: 100%;
                width: 100%;
                object-fit: cover;
                z-index: -1;
                transform:scale(1.5) translateZ(-5px);
                padding: 0;
                img{
                    width:100%;
                    
                }
            }
            #treesmiddle{
                position: absolute;
                top:0;
                left:0;
                height: 100%;
                width: 100%;
                object-fit: cover;
                transform:scale(1.75) translateZ(-7.5px);
                
            }
            #treesbg{
                position: absolute;
                top:0;
                left:0;
                height: 100%;
                width: 100%;
                object-fit: cover;
                transform: scale(2) translateZ(-10px);
                
            }
        }
        .content{
            position: relative;
            margin-top:87vh;
            background-color: $GaiaDarkGreen;
            width: 100vw;
            display: grid;
            grid-template-columns: 1fr;
            z-index:1;
            
            .content-grid{
                display: grid;
                width: 100vw;
                grid-template-columns: 1fr;
                align-self: center;
                justify-self: center;
                margin-top:0vh;
                margin-bottom: 0vh;
                
                
                .content-item{
                    width:100%;
                    z-index: 99;
                    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
                }

                #item1{
                    background-color:$GaiaGrey;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    height: fit-content;
                    width: 100%;
                    justify-self: center;
                    margin-top: 4vw;
                    #side-image1-mobile{
                        width: 100%;
                        align-self: center;
                        padding:0vw;
                    }
                    #two-row-container1{
                        display: flex;
                        flex-direction: column;
                        width: 90%;
                        justify-items:center;
                        align-self: center;
                        justify-self: center;
                        height:fit-content;
                        #row1{
                            width:100%;
                            height:50vh;
                            justify-self: center;
                            align-self: center;
                            justify-content: center;
                            padding:2vw;
                            display:flex;
                            flex-direction: column;
                            align-items: center;
                            h3{
                                font-family: 'Roboto';
                                font-style: normal;
                                font-weight: 500;
                                font-size: 7.5vw;
                                text-align: center;
                                font-variant: all-small-caps;
                                color: $GaiaLightGreen;
                                margin-bottom: 0;
                            }
                            p{
                                    font-family: 'Roboto';
                                    font-weight: 200;
                                    font-size: 4.5vw;
                                    line-height: 160%; 
                                    color: #FFFFFF;
                                    text-align: center;
                                    padding-top:2vw;
                                    width:90%; 
                            }
                        }
                        #row2{
                            display: flex;
                            flex-direction: column;
                            width: 60%;
                            height: fit-content;
                            justify-self: center;
                            align-self: center;
                            border-top: 1.5px solid $GaiaLightGreen;
                            padding-top: 15vw;
                            padding-bottom: 15vw;
                                
                            div{
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-items: center;
                                height:fit-content;
                                padding-bottom: 4vw;

                                img{
                                    padding-bottom:3vw;
                                    height:15vw;
                                }
                                h5{
                                    font-family: 'Roboto';
                                    font-style: normal;
                                    font-weight: 600;
                                    font-size: 5vw;
                                    line-height: 100%;
                                    text-align: center;
                                    font-variant: all-small-caps;
                                    color:$GaiaLightGreen;
                                    align-self: center;
                                    margin-bottom: 0;
                                    margin-top: 4vw;

                                }
                                p{
                                    font-family: 'Roboto';
                                    font-weight: 200;
                                    font-size: 4vw;
                                    line-height: 170%; 
                                    color: #FFFFFF;
                                    text-align: center;
                                    margin-top: 1vw;
                                    width:fit-content;
                                }
                            }
                        }
                    }
                }


                #item3{
                    display: grid;
                    grid-template-columns: 1fr;
                    background-color: white;
                    width: 100vw;
                    height:fit-content;
                    align-items: center;
                    justify-items: center;
                    align-content: center;
                    justify-content: center;
                    
                    #familyinfo{
                        width:100%;
                        height:fit-content;
                        display: grid;
                        grid-template-columns: 1fr;
                        position: relative;
                        justify-items: center;
                        
                        img{
                            width:100%;
                        }
                        h3{
                            font-family: 'Roboto';
                            font-style: normal;
                            font-weight: 900;
                            font-size: 46px;
                            line-height: 85%;
                            text-align: center;
                            font-variant: all-small-caps;
                            color:$GaiaDarkGreen;
                            text-align: left;
                            margin-top: 0;
                            padding-bottom:5px;
                            padding-top: 100px;
                            border-bottom:3px solid $GaiaDarkGreen;
                            width: fit-content;
                            height: fit-content;
                            margin:0;
                        }
                        p{
                            color:$GaiaGrey;
                            font-family: 'Roboto';
                            font-weight: 300;
                            font-size: 18px;
                            line-height: 140%; 
                            width:60%;
                            height:70%;
                            word-wrap: break-word;
                            margin:0;
                            padding-top:70px;
                            text-align: center;

                        }
                        h5{
                            font-family:'Sacramento';
                            text-align: center;
                            color: black;
                            font-weight: 100;
                            font-size: 38px;
                            margin:0;
                            padding-top: 70px;
                            padding-bottom: 100px;
                            width:70%;
                        }
                    }
                    img{
                        width:100%;
                    }
                }
                #item4{
                    display: grid;
                    grid-template-columns: 1fr;
                    background-image: url("https://onedrive.live.com/embed?resid=B81A9B7983F88386%219012&authkey=%21AC7DRUs41kNuNJ4&width=1466&height=1078");
                    background-repeat: no-repeat;
                    background-position:right;
                    background-size: cover;
                    opacity: 100%;
                    width:100%;
                    height:100vh;
                    align-items: center;
                    #container-column{
                        display: flex;
                        flex-direction: column;
                        height: 20vw;
                        align-items: center;
                        justify-content: center;
                        h3{
                            color:$GaiaDarkGreen;
                            font-family: 'Roboto';
                            font-style: normal;
                            font-weight: 900;
                            font-size: 33px;
                            line-height: 90%;
                            text-align: center;
                            font-variant: all-small-caps;
                            width:70%;
                            text-align: center;
                            padding:30px;
                            background-color: white;
                            box-shadow: #FFFFFF 1px 0 10px;
                        }
                    }
                    
                }

                #pruningpic{
                    display: flex;
                    padding:0;
                    height: 60vh;
                    background-color: #F1ECE8;
                }

                #item5{
                    height:100vh;
                    display: grid;
                    grid-template-columns: 1fr;
                    background-color: #F1ECE8;
                    align-content: center;
                    justify-content: center;
                    justify-items: center;
                    h3{
                        font-family: 'Roboto';
                        font-style: normal;
                        font-weight: 900;
                        font-size: 35px;
                        line-height: 85%;
                        text-align: center;
                        font-variant: all-small-caps;
                        color: $GaiaDarkGreen;
                        margin-bottom: 30px;
                    }

                    p{
                        color:$GaiaGrey;
                        font-family: 'Roboto';
                        font-weight: 300;
                        font-size: 18px;
                        line-height: 140%; 
                        width:60%;
                        height:70%;
                        word-wrap: break-word;
                        margin:0;
                        padding-top:40px;
                        text-align: center;
                    }
                }
            }
            #treeline{
                width:100vw;
                position:absolute;
                bottom: -5vw;
                left:0px;
                z-index: 1;
            }
        }
        .footer{
            display:flex;
            align-self: center;
            align-items: center;
            width: 100vw;
            height:30vh;
            background-color: #1C312A;
            align-content: center;
            justify-content: flex-start;
            margin:0;
            z-index:90;
            position: relative;
            bottom:0px;
            margin-bottom:0px;
            justify-content: center;
            #bottom-tag{
                color:white;
                font-family: 'Roboto';
                font-weight: 200;
                font-size: 18px;
                text-align: center;
                padding:10px;
                margin: 0;

            }
        }
    }
}

///////////////Desktop Version////////////// 
@media only screen and (min-width: 500px){

    .hide-xl{display:none; visibility: hidden;}
    
    //Load Bar//
    .loader{
        position:fixed;
        left:0;
        top:0;
        width:100vw;
        height:100vh;
        display:flex;
        align-items:center;
        justify-content:center;
        background: $GaiaGrey;
        z-index: 200;
        transition: opacity 0.75s, visibility 0.75s;
    }
    .loader--hidden{
        opacity: 0;
        visibility: hidden;
    }
    
    .loader::after{
        content: "";
        width:8vh;
        height: 8vh;
        border:1vw solid $GaiaDarkGreen;
        border-top-color: $GaiaLightGreen;
        border-radius: 50%;
        animation: loading 0.75s ease infinite; 
    }
    
    @keyframes loading {
        from { transform: rotate(0turn) }
        to { transform: rotate(1turn) }
    }
    
    .main-body{
        display:grid;
        width: 100vw;
        align-content: center;
        background-color: transparent;
        overflow-y: hidden;
    
        .top-bar{
            display: flex;
            position:absolute;
            left:0px;
            top:0px;
            z-index:99;
            flex-direction: row;
            background-image: url("https://res.cloudinary.com/dr3r301ht/image/upload/v1742166398/TopBanner_yide2c.jpg");
            background-size:cover;
            background-position: left;
            background-repeat: no-repeat;
            width:100vw;
            height:12vh;
            box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
            #gaia-logo-top{
                align-self: center;
                height: 4vw;
                position: absolute;
                left:4vw;
                }
            .callnow-section{
                display: flex;
                position: absolute;
                right:4vw;
                flex-direction: row;
                height: fit-content;
                padding-right: 1vw;
                align-self: center;
                #phone-number{
                    display: grid;
                    grid-template-columns: 1fr;
                    margin-right: 1vw;
                    height:fit-content;
                    align-self: center;
                    justify-self: center;
                    a{
                        text-decoration: none;
                        font-family: 'Roboto';
                        font-weight: 200;
                        font-size: .8vw;
                        color: #FFFFFF;
                        display:flex;
                        align-items: center;
                        padding-bottom: 0.1vw;
                        
                        #phoneicon-white{
                            width: 0.7vw;
                            margin-right:0.5vw;
                        }
                    }
                    p{
                        font-family: 'Roboto';
                        font-weight: 200;
                        font-size: .8vw;
                        color: #FFFFFF;
                        margin: 0;
                    }
                }
                .call-now-btn{
                    text-decoration: none;
                    div{
                        background-color: $GaiaLightGreen;
                        border-radius: 20%;
                        width: 2.8vw;
                        height:2.6vw;
                        display: flex;
                        flex-direction: column;
                        margin-left: 0.5vw;
                        transition:0.4s all ease;
                        align-items: center;
                        justify-content: center;    
                        p{
                            font-family: 'Roboto';
                            font-weight: 500;
                            font-size: .5vw;
                            line-height: .1vw; 
                            color: $GaiaDarkGreen;
                            padding-left:.2vw;
                            padding-right:.2vw;
                        }
                        img{
                            width:1.5vw;
                            transition:0.4s all ease;
                            transform: rotate(0)
                        }
                    }
                }
                .call-now-btn:hover{
                    div{
                        background-color: #bff82e;
                        box-shadow: 0 0.1em 0.5em 0.1em $GaiaGrey;
                        img{
                            transform: rotate(0.5turn)
                        }
                    }
                }
            }
        }

        header{
            display:grid;
            grid-template-columns: 1fr 1fr;
            position: absolute;
            top:15vh;
            left:0px;
            z-index: 99;
            width: 100vw;
            background-color: none;
            .socials a img{
                width:1.2vw;
                align-self: center;
                justify-self: center;
                position:absolute;
                left:4vw;
                padding-top:.6vw;
            }
            
//// -------NAVIGATION----- /////
            nav ul{
                display: grid;
                width:50%;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
                justify-self: center;
                align-self: center;
                justify-items: center;
                list-style-type: none;
                padding:none;
                position:absolute;
                right:4vw;
                .non-drop{
                    a{
                    color: white;
                    justify-self: center;
                    align-self: center; 
                    text-decoration: none;
                    font-family:'Roboto', sans-serif;
                    text-transform:uppercase;
                    font-weight: 400;
                    font-size: .9vw;
                    transition: 0.4s all ease;
                    }
                    a:hover{
                        color:#B4DE4A;
                        font-size: .95vw;
                        border-bottom:3px solid $GaiaLightGreen;
                        font-weight: 600;
                    }
                }
                #dropdown{
                    display:grid;
                    grid-template-columns: 1fr;
                    #dropdown-btn{
                        color: white;
                        justify-self: center;
                        align-self: center; 
                        text-decoration: none;
                        font-family:'Roboto', sans-serif;
                        text-transform:uppercase;
                        font-weight: 400;
                        font-size: .9vw;
                        transition:0.4s all ease;
                        }
                    #dropdown-btn:hover{
                        color:#B4DE4A;
                        font-size: .95vw;
                        font-weight: 500;
                    }
                    #dropdown-content{
                        display:grid;
                        height:0px;
                        width:100%;
                        opacity: 0;
                        grid-template-rows: 1fr 1fr 1fr;
                        grid-template-columns: 1fr;
                        align-items: center;
                        background-color: #1C312A;
                        padding:0px;
                        transition: .4s all ease;
                        a{
                            transition: .4s all ease;
                            text-decoration: none;
                            font-family:'Roboto', sans-serif;
                            text-transform:uppercase;
                            font-weight: 400;
                            font-size: small;
                            padding:10px;
                            text-align: center;
                            color: white;
                            opacity: 0; 
                        }
                    }
                }

                //Dropdown Menu///
                #dropdown:hover #dropdown-content {
                    display:grid;
                    grid-template-rows: 1fr 1fr 1fr;
                    height:10vw;
                    width: 100%;
                    opacity: 100%;
                    a{
                        opacity: 1;
                    }
                    a:hover{
                        color:#B4DE4A;
                    }
                }
            }
        }
//// -------SPLASH ----- /////
        .splash{
            position:absolute;
            background-color: #1C312A;
            left:0px;
            top:5vw;
            width:100vw;
            height:90vh;
            display:flex;
            justify-content: center;
            align-content: center;

            .splash-items{
                display:flex;
                flex-direction: column;
                align-self: center;
                margin:0;
                max-height: 60vh;
                margin:0;
                z-index:99;
                align-items: center;
                width:35vw;
                
                .large-title{
                    font-family: 'Aref Ruqaa', serif;
                    text-transform: uppercase;
                    color: $GaiaLightGreen;
                    font-weight: 700;
                    font-size: 4vw;
                    text-align: center;
                    margin:0;
                    line-height: 80%;
                    z-index:99;
                    text-shadow: 3px 4px 7px rgba(32, 32, 32, 0.8);
                }
                
                .large-subhead{
                    font-family: 'Roboto', sans-serif;
                    font-weight: 300;
                    line-height: 27px;
                    font-size: 1vw;
                    letter-spacing: 0.05em;
                    text-transform: uppercase;
                    color:white;
                    text-align: center;
                    z-index:99;
                    padding-top: 1vh;
                    text-shadow: 3px 4px 7px rgba(32, 32, 32, 0.8);
                }
            }
        }
        
//// -------ANIMATED SPLASH BACKGROUND----- /////
        #background{
            position:absolute;
            left:0px;
            top:5vw;
            width:100vw;
            height: 90vh;
            z-index:3;
            background-color: #1C312A;
            #page1_image{
                position: absolute;
                top:0;
                left:0;
                height: 100%;
                width: 100%;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                background-image: url("https://res.cloudinary.com/dr3r301ht/image/upload/v1742166649/Bg1_bgnkif.jpg");
            }
            #page2_image{
                position: absolute;
                top:0;
                left:0;
                height: 100%;
                width: 100%;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                background-image: url("https://res.cloudinary.com/dr3r301ht/image/upload/v1742169398/20230108_200018487_iOS_dgyvu2.jpg");
            }
            #page3_image{
                position: absolute;
                top:0;
                left:0;
                height: 100%;
                width: 100%;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                background-image: url("https://res.cloudinary.com/dr3r301ht/image/upload/v1742169513/20230108_200517347_iOS_xvqlpk.jpg");
            }
            #page4_image{
                position: absolute;
                top:0;
                left:0;
                height: 100%;
                width: 100%;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                background-image: url("https://res.cloudinary.com/dr3r301ht/image/upload/v1742169531/20230108_200056384_iOS_ldfpbv.jpg");
            }
            #page5_image{
                position: absolute;
                top:0;
                left:0;
                height: 100%;
                width: 100%;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                background-image: url("https://res.cloudinary.com/dr3r301ht/image/upload/v1742166652/bg3_w6xj8x.png");
            }
        }

//// -------INDEX------ /////

        .content{
            position: relative;
            margin-top:90vh;
            background-color: #D0D7CF;
            width: 100vw;
            display: grid;
            grid-template-columns: 1fr;
            z-index:1;
            
            .content-grid{
                display: grid;
                width: 70vw;
                grid-template-columns: 1fr;
                align-self: center;
                justify-self: center;
                margin-top:10vh;
                margin-bottom: 10vh;
                
                
                .content-item{
                    width:100%;
                    z-index: 99;
                    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
                    background-color: white;
                }

                #item1{
                    background-color:$GaiaGrey;
                    display: flex;
                    justify-content: flex-start;
                    max-height: 45vw;
                    #side-image1{
                        padding:40px;
                        height: 35vw;
                    }
                    #two-row-container1{
                        display: grid;
                        grid-template-rows: 1fr 1fr;
                        width: 60%;
                        height: 35vw;
                        justify-content: center;
                        align-self: center;
                        justify-self: center;
                        gap:1vw;
                        #row1{
                            width:80%;
                            margin-left:20px;
                            margin-right:20px;
                            justify-self: center;
                            align-self: center;
                            h3{
                                font-family: 'Roboto';
                                font-style: normal;
                                font-weight: 900;
                                font-size: 3vw;
                                line-height: 85%;
                                text-align: center;
                                font-variant: all-small-caps;
                                color: $GaiaLightGreen;
                                margin-bottom: 31px;
                            }
                            p{
                                    font-family: 'Roboto';
                                    font-weight: 200;
                                    font-size: 1.2vw;
                                    line-height: 130%; 
                                    color: #FFFFFF;
                                    text-align: center;
                                    padding-top:20px;
                                    border-top: 2px solid $GaiaLightGreen;
                            }
                            
                        }
                        #row2{
                            display: flex;
                            flex-direction: row;
                            width:100%;
                            margin-left:20px;
                            margin-right:20px;
                            justify-self: center;
                                
                            div{
                                display: grid;
                                grid-template-rows: 1fr 1fr 1fr;
                                align-items: center;
                                justify-items: center;
                                height:15vh;
                                img{
                                    padding-top:0px;
                                    height:30px;
                                }
                                h5{
                                    font-family: 'Roboto';
                                    font-style: normal;
                                    font-weight: 600;
                                    font-size: 1.5vw;
                                    line-height: 100%;
                                    text-align: center;
                                    font-variant: all-small-caps;
                                    color:$GaiaLightGreen;
                                    margin-top: 1vw;
                                    margin-bottom:0px;
                                    padding-left: 2vw;
                                    padding-right: 2vw;
                                }
                                p{
                                    font-family: 'Roboto';
                                    font-weight: 200;
                                    font-size: 1.1vw;
                                    line-height: 120%; 
                                    color: #FFFFFF;
                                    text-align: center;
                                    margin-top: 1vw;
                                    width:18vw;
                                    padding-left: 2vw;
                                    padding-right: 2vw;
                                }
                            }
                        }
                    }
                }
                #item2{
                    display:grid;
                    grid-template-columns: 1fr 1fr;
                    background-color: #F1ECE8;
                    width: 100%;
                    height:20vw;
                    #side-image2{
                        background-image: url("https://dsm01pap009files.storage.live.com/y4mHwOfo1Iu7Hunp_tWyzZQS8G2bu67DYiNr7Zdj_vD7reVQq-bnZoA91SqRcgTiR_fi8Tc-zICJwYDVfJIrFG4vvp6MI7MAqpkkKVXE8BnhQFgGcb3yNuKRa9Wyq8oTLZ-eiFPf360_-M7hedGr6XzLcirnz7G41HBSkDpdQ6XxpJ8TcedRGjxo9dpg0Fr03iP?width=712&height=383&cropmode=none");
                        padding: 3vw;
                        display: flex;
                        align-items: center;
                        justify-items: center;
                        background-position: center;
                        background-repeat: no-repeat;
                        h3{
                            font-family: 'Roboto';
                            font-style: normal;
                            font-weight: 900;
                            font-size: 3vw;
                            line-height: 85%;
                            text-align: center;
                            font-variant: all-small-caps;
                            color:$GaiaLightGreen;

                        }
                    }
                }

                #item3{
                    display: flex;
                    flex-direction: row;
                    background-image:url("https://res.cloudinary.com/dr3r301ht/image/upload/v1742166399/treelinecropped_cv9wiy.png");
                    background-position: bottom center;
                    background-size:cover;
                    background-repeat: no-repeat;
                    width: 70vw;
                    height:45vw;
                    align-items: center;
                    justify-items: center;
                    align-content: center;
                    justify-content: center;
                    margin-top: 0;
                    #familyinfo{
                        width:40%;
                        height:70%;
                        display: grid;
                        grid-template-columns: 1fr;

                        h3{
                            font-family: 'Roboto';
                            font-style: normal;
                            font-weight: 900;
                            font-size: 3vw;
                            line-height: 85%;
                            text-align: center;
                            font-variant: all-small-caps;
                            color:$GaiaDarkGreen;
                            text-align: left;
                            margin-top: 0;
                            padding-bottom:5px;
                            border-bottom:3px solid $GaiaDarkGreen;
                            width: fit-content;
                            height: fit-content;
                            margin:0;
                        }
                        p{
                            color:$GaiaGrey;
                            font-family: 'Roboto';
                            font-weight: 300;
                            font-size: 1vw;
                            line-height: 140%; 
                            text-align: left;
                            width:60%;
                            height:70%;
                            word-wrap: break-word;
                            margin:0;
                            padding-top: 2vw;

                        }
                        h5{
                            font-family:'Sacramento';
                            color: black;
                            font-weight: 100;
                            font-size: 2vw;
                            margin:0;
                            padding-top: 2vw;
                        }
                    }
                    img{
                        width:30%;
                        box-shadow: 0px 4px 4px 7px rgba(0, 0, 0, 0.25);
                    }
                }
                #item4{
                    display: grid;
                    grid-template-columns: 1fr;
                    background-image: url("https://res.cloudinary.com/dr3r301ht/image/upload/v1742166655/WA_map_faded_vfdqrp.jpg");
                    background-repeat: no-repeat;
                    background-position:right;
                    background-size: cover;
                    width:100%;
                    height:50vw;
                    align-items: center;
                    #container-column{
                        margin-left: 10%;
                        display: flex;
                        flex-direction: column;
                        height: 20vw;
                        h3{
                            color: $GaiaDarkGreen;
                            font-family: 'Roboto';
                            font-style: normal;
                            font-weight: 900;
                            font-size: 3vw;
                            line-height: 85%;
                            text-align: center;
                            font-variant: all-small-caps;
                            width:35%;
                            text-align: left;
                        }
                    }
                    
                }
                #item5{
                    height:50vw;
                    display: grid;
                    grid-template-columns: 1fr;
                    background-color: #F1ECE8;
                    align-content: center;
                    justify-content: center;
                    h3{
                        font-family: 'Roboto';
                        font-style: normal;
                        font-weight: 900;
                        font-size: 3vw;
                        line-height: 85%;
                        text-align: center;
                        font-variant: all-small-caps;
                        color: $GaiaDarkGreen;
                        margin-bottom: 31px;
                    }

                    #item5-grid{
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr;
                        height:28vw;
                        width:50vw;
                        align-self: center;
                        justify-self: center;
                        align-content: center;
                        justify-content: center;

                        gap:1vw;
                        a{
                            text-decoration: none;
                            
                            .item5-column{
                                display: flex;
                                flex-direction: column;
                                width:100%;
                                height: 28vw;
                                align-items: center;
                                justify-self: center;
                                justify-items: center;
                                background-color: #446258;
                                transition: 0.4s all ease;
                                img{
                                    width:100%;
                                }
                                h5{
                                    font-family: 'Roboto';
                                    font-style: normal;
                                    font-weight: 600;
                                    font-size: 1.2vw;
                                    line-height: 2vw;
                                    margin:0;
                                    font-variant: all-small-caps;
                                    color: $GaiaLightGreen;
                                    height: fit-content;
                                    width: fit-content;
                                    border-bottom:3px solid $GaiaLightGreen;
                                    padding-top: 2vw;
                                    text-align: center;
                                }
                                p{
                                    font-family: 'Roboto';
                                    font-weight: 200;
                                    font-size: .9vw;
                                    color: #FFFFFF;
                                    text-align: center;
                                    padding:2vw;
                                    margin: 0;
                                }
                            }
                        }
                        a:hover{
                            .item5-column{
                                box-shadow: 0 0.2em 0.5em 0.1em rgba(0, 0, 0, 0.884);
                            }
                        }
                    }
                }
            }
            #treeline{
                width:100vw;
                position:absolute;
                bottom: -5vw;
                left:0px;
                z-index: 1;
            }
        }

//// -------FOOTER----- /////
        .footer{
            display:flex;
            align-self: center;
            align-items: center;
            width: 100vw;
            height:13vw;
            background-color: #1C312A;
            align-content: center;
            justify-content: flex-start;
            margin:0;
            z-index:90;
            position: sticky;
            bottom:0px;
            margin-bottom:0px;
            #gaiaartwork{
                height: 7vw;
                width:7vw;
                margin-left: 8vw;
            }
            #bottom-tag{
                font-family: 'Roboto';
                font-weight: 200;
                font-size: .9vw;
                line-height: 1.7vw; 
                color: #FFFFFF;
                position:absolute;
                left: 40%;
                bottom: 0.5vw;
            }
            .footer-ul{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                list-style-type: none;
                margin:0 0 0 10vw;
                padding:0;
                position: absolute;
                top:2.5vw;
                left:20vw;
                .footer-li{
                    width: 20vw;
                    height:18vw;
                    align-self: center;
                    
                    h5{
                        font-family: 'Roboto';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 1.2vw;
                        line-height: 2vw;
                        margin:0;
                        font-variant: all-small-caps;
                        color: $GaiaLightGreen;
                    }
                    .one-line-container{
                        display:grid;
                        grid-template-columns: 1fr;
                        margin-top:0px;
                        border-top:3px solid $GaiaLightGreen;
                        height: fit-content;
                        width:fit-content;
                        p{
                            font-family: 'Roboto';
                            font-weight: 200;
                            font-size: .9vw;
                            line-height: 1.7vw; 
                            color: #FFFFFF;
                        }
                        ul{
                            list-style-type: disc;
                            color:white;
                            width: fit-content;
                            
                            li{
                                width: fit-content;
                                a{
                                    font-family: 'Roboto';
                                    font-weight: 200;
                                    font-size: .9vw;
                                    line-height: 1.7vw; 
                                    color: #FFFFFF;
                                    width: fit-content;
                                }
                            }
                        }
                    }

                    .three-line-container{
                        display:grid;
                        grid-template-rows: 1fr 1fr;
                        margin-top:0px;
                        margin-bottom: 1vw;
                        margin-right: 1vw;
                        border-top:3px solid $GaiaLightGreen;
                        height: fit-content;
                        width:fit-content;
                        a{
                            font-family: 'Roboto';
                            font-style: normal;
                            font-weight: 200;
                            font-size: .9vw;
                            line-height: 1.7vw;
                            text-decoration-line: underline;
                            color: #FFFFFF;
                            display:flex;
                            #mailicon{
                                margin-right: 1vw;
                                width:18px;
                                height:13px;
                                align-self: center;
                            }
                            #phoneicon{
                                margin-right: .6vw;
                                height:13px;
                                align-self: center;
                            }
                        }

                    }
                }

            }
        }
    }
}

