@import url("https://use.fontawesome.com/releases/v5.13.1/css/all.css");
@import url("https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
@import url("https://use.fontawesome.com/releases/v5.13.1/css/all.css");
@import url("https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 0px;
}

html.sr .load-hidden {
  visibility: hidden;
}

html {
  scroll-behavior: smooth;
}

.main-padding {
  margin: 0;
  text-align: center;
}

.arrow-button-anchor {
  text-decoration: none;
  width: 16vw;
}
.arrow-button-anchor .green-arrow-button {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #B4DE4A;
  width: 16vw;
  height: 1.8vw;
  border-radius: 44.9876px;
  justify-items: center;
  align-items: center;
  margin: 0;
  transition: 0.4s all ease;
}
.arrow-button-anchor .green-arrow-button p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 1.2vw;
  font-variant: small-caps;
  margin: 0 0 0 1vw;
  color: #171C09;
  letter-spacing: 0.1em;
  transition: 0.4s all ease;
}
.arrow-button-anchor .green-arrow-button .arrow {
  width: 5vw;
  transition: 0.4s all ease;
  transform: translateX(-1.8em);
}
.arrow-button-anchor .green-arrow-button:hover {
  box-shadow: 0 0.1em 0.5em 0.1em rgb(68, 98, 88);
  background-color: #bff82e;
}
.arrow-button-anchor .green-arrow-button:hover .arrow {
  transform: translateX(0.1em);
}
.arrow-button-anchor .green-arrow-button:hover p {
  letter-spacing: 0.18em;
}

@media only screen and (min-width: 500px) {
  .overlay-carousel-container {
    display: grid;
    opacity: 0;
    visibility: hidden;
    grid-template-columns: 1fr;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    position: fixed;
    z-index: 99;
    transition: 0.8s all ease;
  }
  .overlay-carousel-container .overlay-carousel {
    display: grid;
    grid-template-columns: 1fr;
    justify-self: center;
    align-self: center;
    width: 90vw;
    height: 90vh;
    z-index: 99;
    background-color: #2C2C2C;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  }
  .overlay-carousel-container .overlay-carousel .x {
    position: absolute;
    z-index: 99;
    display: block;
    top: 10vh;
    right: 10vw;
    width: 2vw;
    height: 2vw;
    opacity: 1;
    transition: 0.4s all ease;
  }
  .overlay-carousel-container .overlay-carousel .x:hover {
    cursor: pointer;
    opacity: 0.6;
  }
  .overlay-carousel-container .overlay-carousel .overlay-carousel-picture {
    width: 90%;
    height: 90%;
    padding: 30px;
    align-self: center;
    justify-self: center;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .dark-overlay {
    width: 100vw;
    height: 100vh;
    background-color: rgb(68, 98, 88);
    opacity: 0%;
    visibility: hidden;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 98;
    transition: 0.4s all ease;
  }
  .overlay-project-container {
    display: grid;
    opacity: 0;
    visibility: hidden;
    grid-template-columns: 1fr;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    position: fixed;
    z-index: 99;
    transition: 0.8s all ease;
  }
  .overlay-project-container .overlay-project {
    display: grid;
    grid-template-columns: 1fr;
    justify-self: center;
    align-self: center;
    width: 90vw;
    height: 98vh;
    z-index: 99;
    background-color: white;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  }
  .overlay-project-container .overlay-project .projectx {
    position: absolute;
    z-index: 99;
    display: block;
    top: 10vh;
    right: 10vw;
    width: 2vw;
    height: 2vw;
    opacity: 1;
    transition: 0.4s all ease;
  }
  .overlay-project-container .overlay-project .projectx:hover {
    cursor: pointer;
    opacity: 0.6;
  }
  .overlay-project-container .overlay-project .project-content {
    width: 50%;
    height: 90%;
    padding: 30px;
    align-self: center;
    justify-self: center;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .overlay-project-container .overlay-project .project-content h2 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    font-size: 3vw;
    text-align: center;
    font-variant: all-small-caps;
    color: #2C2C2C;
    color: #2C2C2C;
    height: 12vh;
    padding-top: 3vh;
    z-index: 98;
    margin: 0;
  }
  #alternate-nav-header {
    display: grid;
    position: absolute;
    top: 3vh;
    right: 4vw;
    z-index: 99;
    width: 100vw;
    align-content: flex-end;
  }
  #alternate-nav-header #alternate-nav ul {
    display: grid;
    width: 50%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-self: center;
    align-self: center;
    justify-items: center;
    list-style-type: none;
    padding: 0;
    background-color: none;
  }
  #alternate-nav-header #alternate-nav ul .non-drop a {
    color: white;
    justify-self: center;
    align-self: center;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9vw;
    transition: 0.4s all ease;
  }
  #alternate-nav-header #alternate-nav ul .non-drop a:hover {
    color: #B4DE4A;
    font-size: 0.95vw;
    border-bottom: 3px solid #B4DE4A;
    font-weight: 600;
  }
  #alternate-nav-header #alternate-nav ul #dropdown {
    display: grid;
    grid-template-columns: 1fr;
  }
  #alternate-nav-header #alternate-nav ul #dropdown #dropdown-btn {
    color: white;
    justify-self: center;
    align-self: center;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9vw;
    transition: 0.4s all ease;
  }
  #alternate-nav-header #alternate-nav ul #dropdown #dropdown-btn:hover {
    color: #B4DE4A;
    font-size: 0.95vw;
    font-weight: 500;
  }
  #alternate-nav-header #alternate-nav ul #dropdown #dropdown-content {
    display: grid;
    height: 0px;
    width: 100%;
    opacity: 0;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    align-items: center;
    background-color: #1C312A;
    padding: 0px;
    transition: 0.4s all ease;
  }
  #alternate-nav-header #alternate-nav ul #dropdown #dropdown-content a {
    transition: 0.4s all ease;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: small;
    padding: 10px;
    text-align: center;
    color: white;
    opacity: 0;
  }
  #alternate-nav-header #alternate-nav ul #dropdown:hover #dropdown-content {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    height: 10vw;
    width: 100%;
    opacity: 100%;
  }
  #alternate-nav-header #alternate-nav ul #dropdown:hover #dropdown-content a {
    opacity: 1;
  }
  #alternate-nav-header #alternate-nav ul #dropdown:hover #dropdown-content a:hover {
    color: #B4DE4A;
  }
  .content-wip-page {
    position: relative;
    background-color: #1C312A;
    width: 100%;
    padding-top: 12vh;
    display: grid;
    align-self: center;
    justify-self: center;
    grid-template-columns: 1fr;
    z-index: 1;
  }
  .content-wip-page .content-grid {
    display: grid;
    width: 70vw;
    grid-template-columns: 1fr;
    align-self: center;
    justify-self: center;
    margin-top: 10vh;
    margin-bottom: 10vh;
  }
  .content-wip-page .content-grid .content-item {
    width: 100%;
    z-index: 99;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  }
  .content-wip-page .content-grid #wip {
    height: 70vh;
    background-color: rgb(68, 98, 88);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4vw;
  }
  .content-wip-page .content-grid #wip h1 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 800;
    font-size: 2.5vw;
    text-align: center;
    font-variant: all-small-caps;
    color: #B4DE4A;
  }
  .content-otherpages {
    position: relative;
    background-color: #D0D7CF;
    width: 100%;
    padding-top: 12vh;
    display: grid;
    align-self: center;
    justify-self: center;
    grid-template-columns: 1fr;
    z-index: 1;
  }
  .content-otherpages #servicesbanner {
    display: grid;
    width: 100vw;
    height: 40vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://onedrive.live.com/embed?resid=B81A9B7983F88386%218945&authkey=%21ANOnX3tIMdao29k&width=1000&height=572");
  }
  .content-otherpages #servicesbanner #text1 {
    position: absolute;
    left: 10%;
    top: 10%;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
  }
  .content-otherpages #servicesbanner #text1 h2 {
    text-align: left;
    width: -moz-fit-content;
    width: fit-content;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    font-variant: all-small-caps;
    color: white;
    line-height: 80%;
    margin-right: 0;
    margin-left: 1vw;
    transition: 0.4 s all ease;
  }
  .content-otherpages #servicesbanner #text2 {
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 10%;
    top: 11%;
  }
  .content-otherpages #servicesbanner #text2 h4 {
    font-style: normal;
    font-family: "Roboto";
    font-weight: 300;
    font-size: 24px;
    color: white;
    line-height: 80%;
    margin-right: 0;
    opacity: 0;
    margin-left: 1vw;
  }
  .content-otherpages #servicesbanner #text2 a {
    margin-left: 200px;
    width: 200px;
    height: 40px;
    background-color: #B4DE4A;
    text-decoration: none;
    border-radius: 25px;
    display: grid;
    transition: 0.4s all ease;
  }
  .content-otherpages #servicesbanner #text2 a p {
    font-family: "Roboto";
    color: rgb(0, 0, 0);
    margin: 0;
    align-self: center;
    justify-self: center;
  }
  .content-otherpages #servicesbanner #text2 a:hover {
    background-color: rgba(180, 222, 74, 0.5607843137);
    box-shadow: 0 0.1em 0.5em 0.1em rgba(0, 0, 0, 0.801);
    cursor: pointer;
  }
  .content-otherpages #servicesbanner #text2 a:hover p {
    color: white;
  }
  .content-otherpages .content-grid {
    display: grid;
    background-color: #FFF;
    width: 60%;
    grid-template-columns: 1fr;
    align-self: center;
    justify-self: center;
    margin-top: 10vh;
    margin-bottom: 30vh;
    /* hover */
    /* overlay styles */
    /* hover */
  }
  .content-otherpages .content-grid .content-item {
    width: 100%;
    z-index: 99;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  }
  .content-otherpages .content-grid #treeline {
    width: 100vw;
    position: absolute;
    bottom: -5vw;
    left: 0px;
    z-index: 1;
  }
  .content-otherpages .content-grid .services-title {
    background-color: transparent;
    z-index: 99;
    padding-top: 5vh;
    width: 100%;
    justify-self: center;
  }
  .content-otherpages .content-grid .services-title h2 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    font-size: 3vw;
    text-align: center;
    font-variant: all-small-caps;
    color: #2C2C2C;
    color: #2C2C2C;
    height: 12vh;
    padding-top: 3vh;
    z-index: 98;
    margin: 0;
    transition: 1s all ease;
  }
  .content-otherpages .content-grid #tree-care {
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    width: 100%;
    justify-self: center;
    align-items: center;
    justify-items: center;
  }
  .content-otherpages .content-grid #tree-care .image-row {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-self: center;
    align-content: center;
    justify-content: center;
    margin-top: 5vw;
  }
  .content-otherpages .content-grid #tree-care .image-row img {
    width: 80%;
    justify-self: center;
  }
  .content-otherpages .content-grid #tree-care h3 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 800;
    font-size: 1.75vw;
    text-align: center;
    font-variant: all-small-caps;
    color: rgb(68, 98, 88);
    padding-top: 2vh;
    width: 70%;
    margin-top: 1vw;
    margin-bottom: 0;
  }
  .content-otherpages .content-grid #tree-care p {
    font-family: "Roboto";
    padding: 1vw;
    color: #2C2C2C;
    font-family: "Roboto";
    font-weight: 300;
    font-size: 1.2vw;
    line-height: 150%;
    text-align: left;
    width: 70%;
    height: 70%;
    margin-bottom: 12vw;
  }
  .content-otherpages .content-grid #garden {
    display: grid;
    background-color: #FFF;
    width: 100%;
    justify-self: center;
    align-content: center;
    justify-items: center;
  }
  .content-otherpages .content-grid #garden .image-row {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-self: center;
    align-content: center;
    justify-content: center;
    margin-top: 5vw;
  }
  .content-otherpages .content-grid #garden .image-row img {
    width: 80%;
    justify-self: center;
  }
  .content-otherpages .content-grid #garden h3 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 800;
    font-size: 1.75vw;
    text-align: center;
    font-variant: all-small-caps;
    color: rgb(68, 98, 88);
    padding-top: 2vh;
    width: 70%;
    margin-top: 1vw;
    margin-bottom: 0;
  }
  .content-otherpages .content-grid #garden p {
    font-family: "Roboto";
    padding: 1vw;
    margin-top: 2vh;
    color: #2C2C2C;
    font-family: "Roboto";
    font-weight: 300;
    font-size: 1.2vw;
    line-height: 150%;
    text-align: left;
    width: 70%;
    height: 70%;
    padding-top: 2vw;
    margin-bottom: 5vw;
  }
  .content-otherpages .content-grid #question-header {
    background-color: #2C2C2C;
    width: 100%;
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: 20vw;
  }
  .content-otherpages .content-grid #question-header h3 {
    color: #B4DE4A;
    font-family: "Roboto";
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 900;
    line-height: 95.187%;
    font-variant: all-small-caps;
    letter-spacing: 0.25vw;
  }
  .content-otherpages .content-grid #question-header ol {
    width: 60%;
  }
  .content-otherpages .content-grid #question-header ol li {
    color: #FFF;
    font-family: "Roboto";
    font-size: 1.2vw;
    font-style: normal;
    font-weight: 400;
    line-height: 95.187%;
    font-variant: all-small-caps;
    padding-top: 1vw;
    padding-bottom: 1vw;
    letter-spacing: 0.1vw;
  }
  .content-otherpages .content-grid #questionnaire {
    display: flex;
    width: 100%;
    align-self: center;
    justify-self: center;
    align-content: center;
    margin-bottom: 5vw;
    background-color: white;
  }
  .content-otherpages .content-grid #questionnaire #edef3681-fa9e-4070-b2be-fc23075d9115 {
    width: 100% !important;
    background-color: white;
    margin-top: 5vw;
  }
  .content-otherpages .content-grid #carousel {
    display: flex;
    flex-direction: column;
    background-color: #2C2C2C;
    justify-self: center;
    align-self: center;
    z-index: 99;
    width: 100%;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  }
  .content-otherpages .content-grid #carousel #whitetitle {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    font-size: 3vw;
    text-align: center;
    font-variant: all-small-caps;
    color: white;
    background-color: #2C2C2C;
    height: 12vh;
    padding-top: 3vh;
    z-index: 98;
    margin: 0;
    transition: 1s all ease;
  }
  .content-otherpages .content-grid #carousel #greentitle {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    font-size: 3vw;
    text-align: center;
    font-variant: all-small-caps;
    color: #B4DE4A;
    background-color: #2C2C2C;
    height: 12vh;
    padding-top: 3vh;
    z-index: 98;
    margin: 0;
    transition: 1s all ease;
  }
  .content-otherpages .content-grid #carousel #carousel-arrows {
    height: 50vh;
    width: 100%;
    z-index: 95;
    display: flex;
    flex-direction: row;
  }
  .content-otherpages .content-grid #carousel #carousel-arrows #leftdiv {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.8) 30%, rgba(0, 0, 0, 0));
    height: 50vh;
    width: 10vh;
    left: 0px;
    z-index: 98;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .content-otherpages .content-grid #carousel #carousel-arrows #leftdiv #leftarrow {
    height: 5vw;
    cursor: pointer;
    transition: 0.2s all ease;
    visibility: hidden;
  }
  .content-otherpages .content-grid #carousel #carousel-arrows #rightdiv {
    background: linear-gradient(-90deg, rgba(0, 0, 0, 0.8) 30%, rgba(0, 0, 0, 0.459) 80%, rgba(0, 0, 0, 0));
    height: 50vh;
    width: 10vh;
    margin: 0;
    position: absolute;
    right: 20vw;
    z-index: 98;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .content-otherpages .content-grid #carousel #carousel-arrows #rightdiv #rightarrow {
    height: 5vw;
    cursor: pointer;
    transition: 0.2s all ease;
    visibility: visible;
  }
  .content-otherpages .content-grid #carousel #carousel-image-container {
    width: 50vw;
    height: 50vw;
    background-color: transparent;
    overflow: hidden;
    z-index: 1;
    position: absolute;
    left: 25vw;
    top: 34vh;
    display: block;
  }
  .content-otherpages .content-grid #carousel #carousel-image-container #img-window {
    height: 50vh;
    width: -moz-max-content;
    width: max-content;
  }
  .content-otherpages .content-grid #carousel #carousel-image-container #img-window #img1 {
    background-image: url("https://onedrive.live.com/embed?resid=B81A9B7983F88386%218947&authkey=%21AB1Qh04as1rQ2TA&width=1920&height=1440");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 60vw;
    height: 50vh;
    position: absolute;
    left: 0;
    top: 0;
    transition: 2s all ease;
  }
  .content-otherpages .content-grid #carousel #carousel-image-container #img-window #img2 {
    background-image: url("https://onedrive.live.com/embed?resid=B81A9B7983F88386%218937&authkey=%21AOdy5b469STyz9c&width=1221&height=1628");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 60vw;
    height: 50vh;
    position: absolute;
    left: 70vw;
    top: 0;
    transition: 2s all ease;
  }
  .content-otherpages .content-grid #carousel #carousel-image-container #img-window #img3 {
    background-image: url("https://onedrive.live.com/embed?resid=B81A9B7983F88386%218866&authkey=%21APNppxyABeuv5hM&width=688&height=810");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 60vw;
    height: 50vh;
    position: absolute;
    left: 140vw;
    top: 0;
    transition: 2s all ease;
  }
  .content-otherpages .content-grid #carousel #carousel-description {
    display: flex;
    height: 30%;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 5vw;
  }
  .content-otherpages .content-grid #carousel #carousel-description h3 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 600;
    font-size: 1.2vw;
    line-height: 2vw;
    margin: 0;
    font-variant: all-small-caps;
    color: #B4DE4A;
  }
  .content-otherpages .content-grid #carousel #carousel-description p {
    font-family: "Roboto";
    font-weight: 200;
    font-size: 0.9vw;
    line-height: 1.7vw;
    color: #FFFFFF;
  }
  .content-otherpages .content-grid .gallery-title {
    background-color: #FFFFFF;
    z-index: 99;
    padding-top: 10vh;
  }
  .content-otherpages .content-grid .gallery-title h2 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    font-size: 3vw;
    text-align: center;
    font-variant: all-small-caps;
    color: #2C2C2C;
    color: #2C2C2C;
    height: 12vh;
    padding-top: 3vh;
    z-index: 98;
    margin: 0;
    transition: 1s all ease;
  }
  .content-otherpages .content-grid .image-gallery {
    display: flex;
    flex-direction: row;
    gap: 1vw;
    background-color: white;
    padding-top: 3vh;
    padding-bottom: 3vw;
    padding-left: 1vw;
    padding-right: 1vw;
  }
  .content-otherpages .content-grid .project-image-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 60vh;
    gap: 1vw;
    background-color: white;
    padding-top: 3vh;
    padding-bottom: 3vw;
    padding-left: 1vw;
    padding-right: 1vw;
  }
  .content-otherpages .content-grid .project-image-gallery .project {
    width: 100%;
  }
  .content-otherpages .content-grid .project-image-gallery .project img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .content-otherpages .content-grid .project-image-gallery .project .project-overlay {
    position: relative;
    width: 100%;
    height: 100%;
    background: rgba(57, 57, 57, 0.502);
    border-radius: 0;
    top: -101%;
    left: 0;
    opacity: 0;
    transition: 0.4s all ease;
    color: #fff;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 0.9vw;
    line-height: 1.7vw;
    color: #FFFFFF;
    z-index: 99;
    /* center overlay content */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .content-otherpages .content-grid .project:hover .project-overlay {
    opacity: 1;
  }
  .content-otherpages .content-grid .image-gallery .column {
    display: flex;
    flex-direction: column;
    gap: 1vw;
  }
  .content-otherpages .content-grid .image-item img {
    width: 100%;
    border-radius: 0px;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  }
  .content-otherpages .content-grid .image-item {
    position: relative;
    cursor: pointer;
  }
  .content-otherpages .content-grid .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(57, 57, 57, 0.502);
    border-radius: 0;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.4s all ease;
    color: #fff;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 0.9vw;
    line-height: 1.7vw;
    color: #FFFFFF;
    /* center overlay content */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .content-otherpages .content-grid .image-item:hover .overlay {
    opacity: 1;
  }
}
@media only screen and (max-width: 499px) {
  .hide-xs {
    display: none;
    visibility: hidden;
  }
  .loader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #2C2C2C;
    z-index: 200;
    transition: opacity 0.75s, visibility 0.75s;
  }
  .loader--hidden {
    opacity: 0;
    visibility: hidden;
  }
  .loader::after {
    content: "";
    width: 8vh;
    height: 8vh;
    border: 1vw solid rgb(68, 98, 88);
    border-top-color: #B4DE4A;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
  }
  @keyframes loading {
    from {
      transform: rotate(0turn);
    }
    to {
      transform: rotate(1turn);
    }
  }
  .main-body {
    display: grid;
    width: 100vw;
    align-content: center;
    background-color: transparent;
    height: -moz-fit-content;
    height: fit-content;
    overflow-x: clip;
    overflow-y: clip;
  }
  .main-body .top-bar {
    display: flex;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 99;
    flex-direction: column;
    background-color: #2E443E;
    width: 100vw;
    height: 20vw;
    justify-content: center;
    margin-bottom: 20vw;
  }
  .main-body .top-bar #hamburger {
    align-self: center;
  }
  .main-body #main-nav-header {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 20vw;
    left: 0px;
    z-index: 99;
    width: 100vw;
    height: 90vh;
    background-color: #2E443E;
  }
  .main-body #main-nav-header #main-nav ul {
    display: grid;
    width: 100%;
    height: 50vh;
    grid-template-columns: 1fr;
    justify-self: center;
    align-self: center;
    justify-items: center;
    list-style-type: none;
    padding: 0;
    margin-top: 20vw;
    visibility: visible;
  }
  .main-body #main-nav-header #main-nav ul .non-drop a {
    color: white;
    justify-self: center;
    align-self: center;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 20px;
    transition: 0.4s all ease;
  }
  .main-body #main-nav-header #main-nav ul .non-drop a:hover {
    color: #B4DE4A;
    font-size: 0.95vw;
    border-bottom: 3px solid #B4DE4A;
    font-weight: 600;
  }
  .main-body #main-nav-header #main-nav ul #dropdown {
    display: grid;
    grid-template-columns: 1fr;
  }
  .main-body #main-nav-header #main-nav ul #dropdown #dropdown-btn {
    color: white;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 20px;
    transition: 0.4s all ease;
  }
  .main-body #main-nav-header #main-nav ul #dropdown #dropdown-content {
    display: none;
  }
  .main-body #mobile-background {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr;
    left: 0px;
    top: 0vw;
    width: 100vw;
    height: 100vh;
    background-color: #D0D7CF;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
  }
  .main-body #mobile-background #treescontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
    z-index: -1;
  }
  .main-body #mobile-background #mobile-logo {
    align-self: center;
    justify-self: center;
    z-index: -2;
  }
  .main-body #mobile-background #mobile-splash {
    position: absolute;
    top: 100vh;
    z-index: -2;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .main-body #mobile-background #mobile-splash h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    line-height: 120%;
    font-size: 4.5vw;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: white;
    text-align: center;
    z-index: 99;
    padding-top: 1vh;
    width: 80%;
  }
  .main-body #mobile-background #treesforeground {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    z-index: -1;
    transform: scale(1.5) translateZ(-5px);
    padding: 0;
  }
  .main-body #mobile-background #treesforeground img {
    width: 100%;
  }
  .main-body #mobile-background #treesmiddle {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    transform: scale(1.75) translateZ(-7.5px);
  }
  .main-body #mobile-background #treesbg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    transform: scale(2) translateZ(-10px);
  }
  .main-body .content {
    position: relative;
    margin-top: 87vh;
    background-color: rgb(68, 98, 88);
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    z-index: 1;
  }
  .main-body .content .content-grid {
    display: grid;
    width: 100vw;
    grid-template-columns: 1fr;
    align-self: center;
    justify-self: center;
    margin-top: 0vh;
    margin-bottom: 0vh;
  }
  .main-body .content .content-grid .content-item {
    width: 100%;
    z-index: 99;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  }
  .main-body .content .content-grid #item1 {
    background-color: #2C2C2C;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    justify-self: center;
    margin-top: 4vw;
  }
  .main-body .content .content-grid #item1 #side-image1-mobile {
    width: 100%;
    align-self: center;
    padding: 0vw;
  }
  .main-body .content .content-grid #item1 #two-row-container1 {
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-items: center;
    align-self: center;
    justify-self: center;
    height: -moz-fit-content;
    height: fit-content;
  }
  .main-body .content .content-grid #item1 #two-row-container1 #row1 {
    width: 100%;
    height: 50vh;
    justify-self: center;
    align-self: center;
    justify-content: center;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main-body .content .content-grid #item1 #two-row-container1 #row1 h3 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 7.5vw;
    text-align: center;
    font-variant: all-small-caps;
    color: #B4DE4A;
    margin-bottom: 0;
  }
  .main-body .content .content-grid #item1 #two-row-container1 #row1 p {
    font-family: "Roboto";
    font-weight: 200;
    font-size: 4.5vw;
    line-height: 160%;
    color: #FFFFFF;
    text-align: center;
    padding-top: 2vw;
    width: 90%;
  }
  .main-body .content .content-grid #item1 #two-row-container1 #row2 {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: -moz-fit-content;
    height: fit-content;
    justify-self: center;
    align-self: center;
    border-top: 1.5px solid #B4DE4A;
    padding-top: 15vw;
    padding-bottom: 15vw;
  }
  .main-body .content .content-grid #item1 #two-row-container1 #row2 div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    height: -moz-fit-content;
    height: fit-content;
    padding-bottom: 4vw;
  }
  .main-body .content .content-grid #item1 #two-row-container1 #row2 div img {
    padding-bottom: 3vw;
    height: 15vw;
  }
  .main-body .content .content-grid #item1 #two-row-container1 #row2 div h5 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 600;
    font-size: 5vw;
    line-height: 100%;
    text-align: center;
    font-variant: all-small-caps;
    color: #B4DE4A;
    align-self: center;
    margin-bottom: 0;
    margin-top: 4vw;
  }
  .main-body .content .content-grid #item1 #two-row-container1 #row2 div p {
    font-family: "Roboto";
    font-weight: 200;
    font-size: 4vw;
    line-height: 170%;
    color: #FFFFFF;
    text-align: center;
    margin-top: 1vw;
    width: -moz-fit-content;
    width: fit-content;
  }
  .main-body .content .content-grid #item3 {
    display: grid;
    grid-template-columns: 1fr;
    background-color: white;
    width: 100vw;
    height: -moz-fit-content;
    height: fit-content;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
  }
  .main-body .content .content-grid #item3 #familyinfo {
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    justify-items: center;
  }
  .main-body .content .content-grid #item3 #familyinfo img {
    width: 100%;
  }
  .main-body .content .content-grid #item3 #familyinfo h3 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    font-size: 46px;
    line-height: 85%;
    text-align: center;
    font-variant: all-small-caps;
    color: rgb(68, 98, 88);
    text-align: left;
    margin-top: 0;
    padding-bottom: 5px;
    padding-top: 100px;
    border-bottom: 3px solid rgb(68, 98, 88);
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: 0;
  }
  .main-body .content .content-grid #item3 #familyinfo p {
    color: #2C2C2C;
    font-family: "Roboto";
    font-weight: 300;
    font-size: 18px;
    line-height: 140%;
    text-align: left;
    width: 60%;
    height: 70%;
    word-wrap: break-word;
    margin: 0;
    padding-top: 70px;
    text-align: center;
  }
  .main-body .content .content-grid #item3 #familyinfo h5 {
    font-family: "Sacramento";
    text-align: center;
    color: black;
    font-weight: 100;
    font-size: 38px;
    margin: 0;
    padding-top: 70px;
    padding-bottom: 100px;
    width: 70%;
  }
  .main-body .content .content-grid #item3 img {
    width: 100%;
  }
  .main-body .content .content-grid #item4 {
    display: grid;
    grid-template-columns: 1fr;
    background-image: url("https://onedrive.live.com/embed?resid=B81A9B7983F88386%219012&authkey=%21AC7DRUs41kNuNJ4&width=1466&height=1078");
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    opacity: 100%;
    width: 100%;
    height: 100vh;
    align-items: center;
  }
  .main-body .content .content-grid #item4 #container-column {
    display: flex;
    flex-direction: column;
    height: 20vw;
    align-items: center;
    justify-content: center;
  }
  .main-body .content .content-grid #item4 #container-column h3 {
    color: rgb(68, 98, 88);
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    font-size: 33px;
    line-height: 90%;
    text-align: center;
    font-variant: all-small-caps;
    width: 70%;
    text-align: center;
    padding: 30px;
    background-color: white;
    box-shadow: #FFFFFF 1px 0 10px;
  }
  .main-body .content .content-grid #item5 {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    background-color: #F1ECE8;
    align-content: center;
    justify-content: center;
  }
  .main-body .content .content-grid #item5 h3 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    font-size: 35px;
    line-height: 85%;
    text-align: center;
    font-variant: all-small-caps;
    color: rgb(68, 98, 88);
    margin-bottom: 30px;
  }
  .main-body .content .content-grid #item5 #item5-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100%;
    width: 100vw;
    align-self: center;
    justify-self: center;
    align-content: center;
    justify-content: center;
    gap: 1vw;
  }
  .main-body .content .content-grid #item5 #item5-grid a {
    text-decoration: none;
  }
  .main-body .content .content-grid #item5 #item5-grid a .item5-column {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70vh;
    align-items: center;
    justify-self: center;
    justify-items: center;
    background-color: #446258;
    transition: 0.4s all ease;
  }
  .main-body .content .content-grid #item5 #item5-grid a .item5-column img {
    width: 100%;
  }
  .main-body .content .content-grid #item5 #item5-grid a .item5-column h5 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    width: 90%;
    line-height: 90%;
    margin: 0;
    font-variant: all-small-caps;
    color: #B4DE4A;
    border-bottom: 2px solid #B4DE4A;
    padding-top: 40px;
    text-align: center;
    padding-bottom: 30px;
  }
  .main-body .content .content-grid #item5 #item5-grid a .item5-column p {
    font-family: "Roboto";
    font-weight: 200;
    font-size: 20px;
    color: #FFFFFF;
    text-align: center;
    padding: 10px;
    margin: 0;
  }
  .main-body .content .content-grid #item5 #item5-grid a:hover .item5-column {
    box-shadow: 0 0.2em 0.5em 0.1em black;
  }
  .main-body .content #treeline {
    width: 100vw;
    position: absolute;
    bottom: -5vw;
    left: 0px;
    z-index: 1;
  }
  .main-body .footer {
    display: flex;
    align-self: center;
    align-items: center;
    width: 100vw;
    height: 30vh;
    background-color: #1C312A;
    align-content: center;
    justify-content: flex-start;
    margin: 0;
    z-index: 90;
    position: relative;
    bottom: 0px;
    margin-bottom: 0px;
    justify-content: center;
  }
  .main-body .footer #bottom-tag {
    color: white;
    font-family: "Roboto";
    font-weight: 200;
    font-size: 18px;
    text-align: center;
    padding: 10px;
    margin: 0;
  }
}
@media only screen and (min-width: 500px) {
  .hide-xl {
    display: none;
    visibility: hidden;
  }
  .loader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #2C2C2C;
    z-index: 200;
    transition: opacity 0.75s, visibility 0.75s;
  }
  .loader--hidden {
    opacity: 0;
    visibility: hidden;
  }
  .loader::after {
    content: "";
    width: 8vh;
    height: 8vh;
    border: 1vw solid rgb(68, 98, 88);
    border-top-color: #B4DE4A;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
  }
  @keyframes loading {
    from {
      transform: rotate(0turn);
    }
    to {
      transform: rotate(1turn);
    }
  }
  .main-body {
    display: grid;
    width: 100vw;
    align-content: center;
    background-color: transparent;
    overflow-y: hidden;
  }
  .main-body .top-bar {
    display: flex;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 99;
    flex-direction: row;
    background-image: url("https://dsm01pap009files.storage.live.com/y4mxtardiGUtDY3kgODSqZqoILtOsaT3ZU6mSkxMH5Zxd605WfUc0u-CHrkdSZMRZ1QwaOiUOVYixA11vlfFMxn3DRW0pliiLhSjS0jMtzmnkkk_cE72w6AkCGnxeFiiaBBGGogMiiXU-z2u3h5N8P_tuUgISdvUbXR8Mxedp_OSCrdlCxPid5NXh8pi4w294CS?width=1915&height=139&cropmode=none");
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    width: 100vw;
    height: 12vh;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  }
  .main-body .top-bar #gaia-logo-top {
    align-self: center;
    height: 4vw;
    position: absolute;
    left: 4vw;
  }
  .main-body .top-bar .callnow-section {
    display: flex;
    position: absolute;
    right: 4vw;
    flex-direction: row;
    height: -moz-fit-content;
    height: fit-content;
    padding-right: 1vw;
    align-self: center;
  }
  .main-body .top-bar .callnow-section #phone-number {
    display: grid;
    grid-template-columns: 1fr;
    margin-right: 1vw;
    height: -moz-fit-content;
    height: fit-content;
    align-self: center;
    justify-self: center;
  }
  .main-body .top-bar .callnow-section #phone-number a {
    text-decoration: none;
    font-family: "Roboto";
    font-weight: 200;
    font-size: 0.8vw;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    padding-bottom: 0.1vw;
  }
  .main-body .top-bar .callnow-section #phone-number a #phoneicon-white {
    width: 0.7vw;
    margin-right: 0.5vw;
  }
  .main-body .top-bar .callnow-section #phone-number p {
    font-family: "Roboto";
    font-weight: 200;
    font-size: 0.8vw;
    color: #FFFFFF;
    margin: 0;
  }
  .main-body .top-bar .callnow-section .call-now-btn {
    text-decoration: none;
  }
  .main-body .top-bar .callnow-section .call-now-btn div {
    background-color: #B4DE4A;
    border-radius: 20%;
    width: 2.8vw;
    height: 2.6vw;
    display: flex;
    flex-direction: column;
    margin-left: 0.5vw;
    transition: 0.4s all ease;
    align-items: center;
    justify-content: center;
  }
  .main-body .top-bar .callnow-section .call-now-btn div p {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 0.5vw;
    line-height: 0.1vw;
    color: rgb(68, 98, 88);
    padding-left: 0.2vw;
    padding-right: 0.2vw;
  }
  .main-body .top-bar .callnow-section .call-now-btn div img {
    width: 1.5vw;
    transition: 0.4s all ease;
    transform: rotate(0);
  }
  .main-body .top-bar .callnow-section .call-now-btn:hover div {
    background-color: #bff82e;
    box-shadow: 0 0.1em 0.5em 0.1em #2C2C2C;
  }
  .main-body .top-bar .callnow-section .call-now-btn:hover div img {
    transform: rotate(0.5turn);
  }
  .main-body header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: absolute;
    top: 15vh;
    left: 0px;
    z-index: 99;
    width: 100vw;
    background-color: none;
  }
  .main-body header .socials a img {
    width: 1.2vw;
    align-self: center;
    justify-self: center;
    position: absolute;
    left: 4vw;
    padding-top: 0.6vw;
  }
  .main-body header nav ul {
    display: grid;
    width: 50%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-self: center;
    align-self: center;
    justify-items: center;
    list-style-type: none;
    padding: none;
    position: absolute;
    right: 4vw;
  }
  .main-body header nav ul .non-drop a {
    color: white;
    justify-self: center;
    align-self: center;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9vw;
    transition: 0.4s all ease;
  }
  .main-body header nav ul .non-drop a:hover {
    color: #B4DE4A;
    font-size: 0.95vw;
    border-bottom: 3px solid #B4DE4A;
    font-weight: 600;
  }
  .main-body header nav ul #dropdown {
    display: grid;
    grid-template-columns: 1fr;
  }
  .main-body header nav ul #dropdown #dropdown-btn {
    color: white;
    justify-self: center;
    align-self: center;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9vw;
    transition: 0.4s all ease;
  }
  .main-body header nav ul #dropdown #dropdown-btn:hover {
    color: #B4DE4A;
    font-size: 0.95vw;
    font-weight: 500;
  }
  .main-body header nav ul #dropdown #dropdown-content {
    display: grid;
    height: 0px;
    width: 100%;
    opacity: 0;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    align-items: center;
    background-color: #1C312A;
    padding: 0px;
    transition: 0.4s all ease;
  }
  .main-body header nav ul #dropdown #dropdown-content a {
    transition: 0.4s all ease;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: small;
    padding: 10px;
    text-align: center;
    color: white;
    opacity: 0;
  }
  .main-body header nav ul #dropdown:hover #dropdown-content {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    height: 10vw;
    width: 100%;
    opacity: 100%;
  }
  .main-body header nav ul #dropdown:hover #dropdown-content a {
    opacity: 1;
  }
  .main-body header nav ul #dropdown:hover #dropdown-content a:hover {
    color: #B4DE4A;
  }
  .main-body .splash {
    position: absolute;
    background-color: #1C312A;
    left: 0px;
    top: 5vw;
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .main-body .splash .splash-items {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 0;
    max-height: 60vh;
    margin: 0;
    z-index: 99;
    align-items: center;
    width: 35vw;
  }
  .main-body .splash .splash-items .large-title {
    font-family: "Aref Ruqaa", serif;
    text-transform: uppercase;
    color: #B4DE4A;
    font-weight: 700;
    font-size: 4vw;
    text-align: center;
    margin: 0;
    line-height: 80%;
    z-index: 99;
    text-shadow: 3px 4px 7px rgba(32, 32, 32, 0.8);
  }
  .main-body .splash .splash-items .large-subhead {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    line-height: 27px;
    font-size: 1vw;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: white;
    text-align: center;
    z-index: 99;
    padding-top: 1vh;
    text-shadow: 3px 4px 7px rgba(32, 32, 32, 0.8);
  }
  .main-body #background {
    position: absolute;
    left: 0px;
    top: 5vw;
    width: 100vw;
    height: 90vh;
    z-index: 3;
    background-color: #1C312A;
  }
  .main-body #background #page1_image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("https://onedrive.live.com/embed?resid=B81A9B7983F88386%218928&authkey=%21ACQGgm4hSO0W8Kw&width=1923&height=969");
  }
  .main-body #background #page2_image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("https://onedrive.live.com/embed?resid=B81A9B7983F88386%218945&authkey=%21ANOnX3tIMdao29k&width=1000&height=572");
  }
  .main-body #background #page3_image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("https://dsm01pap009files.storage.live.com/y4mqZR-3nrJBXOx1Szrp3acvr9MbxSFoIsk6DCKnIP8lyTbaJY-X07l28Qe0HvYcvyANb9QL7Oqdq5oRchKUBzcXU72wJhGsSrzTR0weZmCK_aTxcW28yaMT0ogmd7IW4epNuIOKwHEDk2N1__C_11R_4YIcHLN9GB7l6LKVpzTCEXEq9PEzQYRNvef8ts7P8Ya?width=1923&height=969&cropmode=none");
  }
  .main-body #background #page4_image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("https://dsm01pap009files.storage.live.com/y4mphVHysaC7zQ5VsTB9OmMVWrp1DZ1hgkKo4VjUuk4XVdGnbT-xnrlAGbYMoksZRqRHN793iNqoDQWQKNTyoYqR5QqRFzvTHnaI2DX3fiyDudRRRX3TQnjYPm3hapH8nMUUzEBnNNyobkmOaIj2Mn0ijvdb2uh7bZlda-zjBBe-E6j7lyK9Dz0z4Fr3hM_Dg_q?width=1923&height=969&cropmode=none");
  }
  .main-body #background #page5_image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("https://dsm01pap009files.storage.live.com/y4mbV_ZWLBzt_htLCj_ZIGzJb8L9qrluyV3tmjcX3lxQwnCh5rgawd-39iRJN4N1NVcmyP5929-51RUZn77fUGeukXzjvwr1uzMvsHtJbYNS0Y05-vfP7g9J9dVVBCX3K3YmVFVy36tgMS-_v2OYyYIe2qCZGf-sRIovcXorU9mhpYopfZy_2-FFvbv_vZhhFZ4?width=6000&height=4000&cropmode=none");
  }
  .main-body .content {
    position: relative;
    margin-top: 95vh;
    background-color: #D0D7CF;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    z-index: 1;
  }
  .main-body .content .content-grid {
    display: grid;
    width: 70vw;
    grid-template-columns: 1fr;
    align-self: center;
    justify-self: center;
    margin-top: 10vh;
    margin-bottom: 10vh;
  }
  .main-body .content .content-grid .content-item {
    width: 100%;
    z-index: 99;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  }
  .main-body .content .content-grid #item1 {
    background-color: #2C2C2C;
    display: flex;
    justify-content: flex-start;
    max-height: 45vw;
  }
  .main-body .content .content-grid #item1 #side-image1 {
    padding: 40px;
    height: 35vw;
  }
  .main-body .content .content-grid #item1 #two-row-container1 {
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 60%;
    height: 35vw;
    justify-content: center;
    align-self: center;
    justify-self: center;
    gap: 1vw;
  }
  .main-body .content .content-grid #item1 #two-row-container1 #row1 {
    width: 80%;
    margin-left: 20px;
    margin-right: 20px;
    justify-self: center;
    align-self: center;
  }
  .main-body .content .content-grid #item1 #two-row-container1 #row1 h3 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    font-size: 3vw;
    line-height: 85%;
    text-align: center;
    font-variant: all-small-caps;
    color: #B4DE4A;
    margin-bottom: 31px;
  }
  .main-body .content .content-grid #item1 #two-row-container1 #row1 p {
    font-family: "Roboto";
    font-weight: 200;
    font-size: 1.2vw;
    line-height: 130%;
    color: #FFFFFF;
    text-align: center;
    padding-top: 20px;
    border-top: 2px solid #B4DE4A;
  }
  .main-body .content .content-grid #item1 #two-row-container1 #row2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    justify-self: center;
  }
  .main-body .content .content-grid #item1 #two-row-container1 #row2 div {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    height: 15vh;
  }
  .main-body .content .content-grid #item1 #two-row-container1 #row2 div img {
    padding-top: 0px;
    height: 30px;
  }
  .main-body .content .content-grid #item1 #two-row-container1 #row2 div h5 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 600;
    font-size: 1.5vw;
    line-height: 100%;
    text-align: center;
    font-variant: all-small-caps;
    color: #B4DE4A;
    margin-top: 1vw;
    margin-bottom: 0px;
    padding-left: 2vw;
    padding-right: 2vw;
  }
  .main-body .content .content-grid #item1 #two-row-container1 #row2 div p {
    font-family: "Roboto";
    font-weight: 200;
    font-size: 1.1vw;
    line-height: 120%;
    color: #FFFFFF;
    text-align: center;
    margin-top: 1vw;
    width: 18vw;
    padding-left: 2vw;
    padding-right: 2vw;
  }
  .main-body .content .content-grid #item2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #F1ECE8;
    width: 100%;
    height: 20vw;
  }
  .main-body .content .content-grid #item2 #side-image2 {
    background-image: url("https://dsm01pap009files.storage.live.com/y4mHwOfo1Iu7Hunp_tWyzZQS8G2bu67DYiNr7Zdj_vD7reVQq-bnZoA91SqRcgTiR_fi8Tc-zICJwYDVfJIrFG4vvp6MI7MAqpkkKVXE8BnhQFgGcb3yNuKRa9Wyq8oTLZ-eiFPf360_-M7hedGr6XzLcirnz7G41HBSkDpdQ6XxpJ8TcedRGjxo9dpg0Fr03iP?width=712&height=383&cropmode=none");
    padding: 3vw;
    display: flex;
    align-items: center;
    justify-items: center;
    background-position: center;
    background-repeat: no-repeat;
  }
  .main-body .content .content-grid #item2 #side-image2 h3 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    font-size: 3vw;
    line-height: 85%;
    text-align: center;
    font-variant: all-small-caps;
    color: #B4DE4A;
  }
  .main-body .content .content-grid #item3 {
    display: flex;
    flex-direction: row;
    background-image: url("https://dsm01pap009files.storage.live.com/y4maBrMSD_vYe_m8D3Nr69Pniplc2J1CqscH3AByoGi2F-N-3t6R6VOWtasNtIkz1gTW7CvQmlzv1xxHWyxzlP-5BuAI9ZRuPQvpTVegxPwoOtRTvWxAYFSK8OGCmYwX3xEsqHfjszAjFrvU7yA8piXpUIkfuoFupeaT5h9J-hM7v2b3izyubtZiiBGiMigoAlc?width=1468&height=930&cropmode=none");
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 70vw;
    height: 45vw;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
    margin-top: 0;
  }
  .main-body .content .content-grid #item3 #familyinfo {
    width: 40%;
    height: 70%;
    display: grid;
    grid-template-columns: 1fr;
  }
  .main-body .content .content-grid #item3 #familyinfo h3 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    font-size: 3vw;
    line-height: 85%;
    text-align: center;
    font-variant: all-small-caps;
    color: rgb(68, 98, 88);
    text-align: left;
    margin-top: 0;
    padding-bottom: 5px;
    border-bottom: 3px solid rgb(68, 98, 88);
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: 0;
  }
  .main-body .content .content-grid #item3 #familyinfo p {
    color: #2C2C2C;
    font-family: "Roboto";
    font-weight: 300;
    font-size: 1vw;
    line-height: 140%;
    text-align: left;
    width: 60%;
    height: 70%;
    word-wrap: break-word;
    margin: 0;
    padding-top: 2vw;
  }
  .main-body .content .content-grid #item3 #familyinfo h5 {
    font-family: "Sacramento";
    color: black;
    font-weight: 100;
    font-size: 2vw;
    margin: 0;
    padding-top: 2vw;
  }
  .main-body .content .content-grid #item3 img {
    width: 30%;
    box-shadow: 0px 4px 4px 7px rgba(0, 0, 0, 0.25);
  }
  .main-body .content .content-grid #item4 {
    display: grid;
    grid-template-columns: 1fr;
    background-image: url("https://dsm01pap009files.storage.live.com/y4mBrUMkWpXvrMmWaDHF3XQx6d14ayztQHrqmFdg9lI7C2K3i5EuOm88sxO6JetBOdKzQfB68PxRD2a4vT-j51aSH0P2K1FfWhNma-hU8X9lI2a_mVe99A7DB23UbMZwW1EQN3lzWeMN3-Wlx-KO5WznKH0Wckc7ZttLJhHmO4_l0bFv6Gm_aytcMPotB0SIDXo?width=1466&height=1078&cropmode=none");
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    width: 100%;
    height: 50vw;
    align-items: center;
  }
  .main-body .content .content-grid #item4 #container-column {
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    height: 20vw;
  }
  .main-body .content .content-grid #item4 #container-column h3 {
    color: rgb(68, 98, 88);
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    font-size: 3vw;
    line-height: 85%;
    text-align: center;
    font-variant: all-small-caps;
    width: 35%;
    text-align: left;
  }
  .main-body .content .content-grid #item5 {
    height: 50vw;
    display: grid;
    grid-template-columns: 1fr;
    background-color: #F1ECE8;
    align-content: center;
    justify-content: center;
  }
  .main-body .content .content-grid #item5 h3 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    font-size: 3vw;
    line-height: 85%;
    text-align: center;
    font-variant: all-small-caps;
    color: rgb(68, 98, 88);
    margin-bottom: 31px;
  }
  .main-body .content .content-grid #item5 #item5-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 28vw;
    width: 50vw;
    align-self: center;
    justify-self: center;
    align-content: center;
    justify-content: center;
    gap: 1vw;
  }
  .main-body .content .content-grid #item5 #item5-grid a {
    text-decoration: none;
  }
  .main-body .content .content-grid #item5 #item5-grid a .item5-column {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 28vw;
    align-items: center;
    justify-self: center;
    justify-items: center;
    background-color: #446258;
    transition: 0.4s all ease;
  }
  .main-body .content .content-grid #item5 #item5-grid a .item5-column img {
    width: 100%;
  }
  .main-body .content .content-grid #item5 #item5-grid a .item5-column h5 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 600;
    font-size: 1.2vw;
    line-height: 2vw;
    margin: 0;
    font-variant: all-small-caps;
    color: #B4DE4A;
    height: -moz-fit-content;
    height: fit-content;
    width: -moz-fit-content;
    width: fit-content;
    border-bottom: 3px solid #B4DE4A;
    padding-top: 2vw;
    text-align: center;
  }
  .main-body .content .content-grid #item5 #item5-grid a .item5-column p {
    font-family: "Roboto";
    font-weight: 200;
    font-size: 0.9vw;
    color: #FFFFFF;
    text-align: center;
    padding: 2vw;
    margin: 0;
  }
  .main-body .content .content-grid #item5 #item5-grid a:hover .item5-column {
    box-shadow: 0 0.2em 0.5em 0.1em rgba(0, 0, 0, 0.884);
  }
  .main-body .content #treeline {
    width: 100vw;
    position: absolute;
    bottom: -5vw;
    left: 0px;
    z-index: 1;
  }
  .main-body .footer {
    display: flex;
    align-self: center;
    align-items: center;
    width: 100vw;
    height: 13vw;
    background-color: #1C312A;
    align-content: center;
    justify-content: flex-start;
    margin: 0;
    z-index: 90;
    position: relative;
    bottom: 0px;
    margin-bottom: 0px;
  }
  .main-body .footer #gaiaartwork {
    height: 7vw;
    width: 7vw;
    margin-left: 8vw;
  }
  .main-body .footer #bottom-tag {
    font-family: "Roboto";
    font-weight: 200;
    font-size: 0.9vw;
    line-height: 1.7vw;
    color: #FFFFFF;
    position: absolute;
    left: 40%;
    bottom: 0.5vw;
  }
  .main-body .footer .footer-ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style-type: none;
    margin: 0 0 0 10vw;
    padding: 0;
    position: absolute;
    top: 2.5vw;
    left: 20vw;
  }
  .main-body .footer .footer-ul .footer-li {
    width: 20vw;
    height: 18vw;
    align-self: center;
  }
  .main-body .footer .footer-ul .footer-li h5 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 600;
    font-size: 1.2vw;
    line-height: 2vw;
    margin: 0;
    font-variant: all-small-caps;
    color: #B4DE4A;
  }
  .main-body .footer .footer-ul .footer-li .one-line-container {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 0px;
    border-top: 3px solid #B4DE4A;
    height: -moz-fit-content;
    height: fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .main-body .footer .footer-ul .footer-li .one-line-container p {
    font-family: "Roboto";
    font-weight: 200;
    font-size: 0.9vw;
    line-height: 1.7vw;
    color: #FFFFFF;
  }
  .main-body .footer .footer-ul .footer-li .one-line-container ul {
    list-style-type: disc;
    color: white;
    width: -moz-fit-content;
    width: fit-content;
  }
  .main-body .footer .footer-ul .footer-li .one-line-container ul li {
    width: -moz-fit-content;
    width: fit-content;
  }
  .main-body .footer .footer-ul .footer-li .one-line-container ul li a {
    font-family: "Roboto";
    font-weight: 200;
    font-size: 0.9vw;
    line-height: 1.7vw;
    color: #FFFFFF;
    width: -moz-fit-content;
    width: fit-content;
  }
  .main-body .footer .footer-ul .footer-li .three-line-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin-top: 0px;
    margin-bottom: 1vw;
    margin-right: 1vw;
    border-top: 3px solid #B4DE4A;
    height: -moz-fit-content;
    height: fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .main-body .footer .footer-ul .footer-li .three-line-container a {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 200;
    font-size: 0.9vw;
    line-height: 1.7vw;
    text-decoration-line: underline;
    color: #FFFFFF;
    display: flex;
  }
  .main-body .footer .footer-ul .footer-li .three-line-container a #mailicon {
    margin-right: 1vw;
    width: 18px;
    height: 13px;
    align-self: center;
  }
  .main-body .footer .footer-ul .footer-li .three-line-container a #phoneicon {
    margin-right: 0.6vw;
    height: 13px;
    align-self: center;
  }
}/*# sourceMappingURL=main.css.map */